<script type='text/javascript'>
	window.cupons = <%- JSON.stringify(cupons) %>;
	window.hotels = <%- JSON.stringify(hotels) %>;
	window.user = <%- JSON.stringify(user) %>;
	window.tours = <%- JSON.stringify(tours) %>;
	window.transfers = <%- JSON.stringify(transfers) %>;
</script>
<div ng-controller='cuponCTL' >
	<!--
	<div directory-listing 
		objects='cupons' 
		keywords='searchInput' 
		dir='cupons' 
		edit-url='/cupon/edit/' 
		get-info='getInfo'
		name-var='name'
		button-text='Nuevos cupones'
	>
	</div>-->
    <p><button class="btn btn-primary" data-toggle="modal" data-target="#myModal"><i class='fa fa-plus'></i> Nuevo cupon</button></p>
    <br>
    <div table-helper inline-edit="/foodscheme/update/" objects='cupons' columns='content.cupons' route='cupon'></div>
	<div class="modal fade" id="myModal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div 
					form-helper 
			        fields='content.cupons' 
			        form-footer='Agregar'
			        form-save = 'createCupon'
			        object = 'cupons'
				objects='{hotels:hotels,tours:tours,transfers:transfers}' 
			        form-title='Agregar Cupones'
			       	modal='true'
			       	currency='company.base_currency'
			        >
			    </div>	
			</div>
		</div>
	</div>
</div>
