<div class=' ng-calendar-frame'>
	<div class = "calendar-nav row">
		<div class = "traverse col-md-6 col-sm-6 col-xm-6 ">
			<button class="btn btn-primary" data-toggle="modal" data-target="#myModal"><span class = "fa fa-chevron-circle-left"></span></button>
			<p><%= __('season-temporadas-ano')%> 2015</p>
			<button class="btn btn-primary c" data-toggle="modal" data-target="#myModal"><span class = "fa fa-chevron-circle-right"></span></button>
		</div>	
		<div class = "seasons-buttons col-md-6 col-sm-6 col-xs-6">
			<button class="btn btn-primary" data-toggle="modal" data-target="#myModal"><span class = "fa fa-plus"></span><%= __('season-agregar')%> </button>
			<button class="btn btn-primary" data-toggle="modal" data-target="#myModal"><%= __('season-temporadas')%>  </button>
		</div>
	</div>
	<div class = "clear">
	</div>

	<div class = "calendar-output row">
		<div class = "col-md-4">
			<li><span class = "fa fa-circle"></span><%= __('season-semana-s')%></li>
			<li><span class = "fa fa-circle"></span><%= __('season-verano')%></li>
			<li><span class = "fa fa-circle"></span><%= __('season-invieno')%></li>
		</div>
		<div class = "col-md-8">
			<li><span class = "fa fa-circle"></span><%= __('season-semana-s')%></li>
			<li><span class = "fa fa-circle"></span><%= __('season-verano')%></li>
			<li><span class = "fa fa-circle"></span><%= __('season-invieno')%></li>
		</div>
	</div>
	<div class = "clear"></div>

	<div calendar-month
		ng-repeat='month in [0,1,2,3,4,5,6,7,8,9,10,11]'
	  	month='month'
	  	year='2015'
	></div>
</div>