<script type='text/javascript'>
    window.scheme = <%- JSON.stringify(scheme) %>;
    window.hotels = <%- JSON.stringify(hotels) %>;
</script>
<div class='ng-calendar-frame ng-cloak' ng-controller='calendarCTL'>
	<div class = "calendar-nav row">
		<div class = "traverse col-md-6 col-sm-6 col-xm-6 ">
			<button class="btn btn-primary" ng-click='year = year - 1'>
				<span class = "fa fa-chevron-circle-left"></span>
			</button>
			<p><%= __('season-temporadas-ano')%> <span ng-bind='year'></span></p>
			<button class="btn btn-primary c" ng-click='year = year + 1'>
				<span class = "fa fa-chevron-circle-right"></span>
			</button>
		</div>	
		<div class = "seasons-buttons col-md-6 col-sm-6 col-xs-6">
			<button class="btn btn-primary" data-toggle="modal" data-target="#myModal"><span class = "fa fa-plus"></span><%= __('season-agregar')%></button>
			<!-- <button class="btn btn-primary" data-toggle="modal" data-target="#myModal"> TEMPORADAS </button> -->
		</div>
	</div>
	<div class = "clear">
	</div>
	<div class = "calendar-output row">
		<ul class = "seasons-columns">
			<li class= "col-md-4" ng-repeat='(key,season) in scheme.seasons' ng-cloak>
				<span class = "fa fa-circle ng-calendar-bullet color{{key}}" ></span> 
				{{season.title}} {{season.newStart}} - {{season.newEnd}} <a data-toggle="modal" data-target="#myModalEdit" ng-click="setEditSeason(season)" class='fa fa-pencil-square-o' ></a>
			</li>	
		</ul>
	</div>
	<div class = "clear"></div>
	<div calendar-month
		ng-repeat='month in [0,1,2,3,4,5,6,7,8,9,10,11]'
	  	month='month'
	  	year='year'
	  	seasons='scheme.seasons'
	></div>
	<div class="modal fade" id="myModal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div 
					form-helper 
			        fields='content.season' 
			        form-footer='Agregar Temporada'
			        form-save = 'createSeason'
			        object = 'newSeason'
			        form-title='<%= __('season-nueva')%>'
			       	modal='true'
			        >
			    </div>	
			</div>
		</div>
	</div>
	<div class="modal fade" id="myModalEdit">
		<div class="modal-dialog">
			<div class="modal-content">
				<div 
					form-helper 
			        fields='content.season' 
			        form-footer='Editar Temporada'
			        form-save = 'editSeason'
			        object = 'editingSeason'
			        form-title='Temporada'
			       	modal='true'
			        >
			    </div>	
			</div>
		</div>
	</div>
</div>
<div id="cargando-elementos" class="ng-cloak">
	<img src="/images/loaders/images-cm.gif">
</div>