<script type='text/javascript'>
	window.hviews = <%- JSON.stringify(hviews) %>;
	window.content = <%- JSON.stringify(_content) %>;
</script>
<div ng-controller='hroomviewCTL'>
	<p><button class="btn btn-primary" data-toggle="modal" data-target="#myModal"><i class='fa fa-plus'></i><%= __('hotel-vista') %> </button></p>
	<br/>
	<div table-helper inline-edit="/hotelroomview/update/" objects='hviews' columns='content.hotelRoomView' route='hotelroomview'></div>
	<div class="clearfix"></div>
	<div class="modal fade" id="myModal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div 
					form-helper 
			        fields='content.hotelRoomView' 
			        form-footer='<%= __('order-agregar') %>'
			        form-save = 'createView'
			        object = 'hview'
			        form-title='<%= __('hotel-agregar-vista') %>'
			       	modal='true'
			        >
			    </div>
			</div>
		</div>
	</div>
</div>