<div class="modal fade" id="uploadCVS">
    <div class="modal-dialog">
        <div class="modal-content">
            <form class='form stdform stdform2'>
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title ng-binding"><%= __('gral_importcvs')%></h4>
                </div>
                <p>
                    <label><%= __('gral_selectfile')%></label>
                    <span class='field'>
                        <span 
                            ng-file-select="WFile($files,$event)" 
                            ng-model="file" 
                            multiple="false" 
                            accept=".csv"><a class='btn btn-primary'><%= __('gral_selectfile')%></a></span>
                            <span ng-bind='fileName'></span>
                    </span>
                </p>
                <!--<p>
                    <label>Arrastrar archivo</label>
                    <span class='field'>
                        <span ng-file-drop
                              ng-model="file"
                              class="drop-box field"
                              drag-over-class="{accept:'dragover', reject:'dragover-err', delay:100}"
                              accept="*.csv">
                            Drop csv file here
                        </span>
                        <span ng-no-file-drop class="field">No soportado por este navegador</span>
                    </span>
                </p>-->
                <p ng-if='loading' class='loader' >
                    <label><%= __('gral_msgloading')%></label>
                    <span>
                        <span ng-bind='loadingProgress'></span>%
                        <img src='/images/loaders/images-cm.gif' />
                    </span>
                </p>
                <p class='results' ng-if='f.finish&&f.success' >
                    <label ng-if='f.success'><%= __('gral_msgsuccess')%></label>
                </p>
                <ul class='results errorslist' ng-if='f.finish&&!f.success' ng-if='f.finish'>
                    <li><%= __('gral_msglines')%>:</li>
                    <li ng-repeat="o in f.errors">
                        <%= __('gral_line')%>: {{o.index}} , <span ng-repeat="err_ in o.err">{{$index>0?' | ':''}}{{err_}}</span></li>
                </ul>
                <p class="stdformbutton ng-scope">
                    <button ng-click="saveFile()" class="btn btn-primary" ng-disabled="form.$invalid || !fileName"><%= __('gral_upload')%></button>
                </p>
            </form>
        </div>
    </div>
</div>