<div ng-controller="clientCTL">

    <div class="row">
        <div class="col-md-6">
            <div class="alert alert-block unseen">
                <button data-dismiss="alert" class="close" type="button">×</button>
                <h4>Mensaje</h4>
                <p style="margin: 8px 0">El cliente se ha actualizado exitosamente</p>
            </div>
            <div class="widgetbox">
                <div class="widgetcontent nopadding">
                    <form action="/clientes/actualizar" method="post" accept-charset="utf-8" class="stdform stdform2 ng-pristine">
                        <input type="hidden" name="id" value="<%=client.id%>" />
                        <%- partial("partial/form") %>
                        <p class="stdformbutton">
                            <button class="btn btn-primary">Guardar</button>
                            <button type="reset" class="btn">Resetear</button>
                        </p>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-11">
            <h4 class="widgettitle"><span class="fa fa-briefcase"></span> Cotizaciones <a href="/cotizaciones/agregar?sc=<%= client.id %>" class="pull-right"><span class="fa fa-plus"></span> Agregar</a></h4>
            <div class="widgetcontent custom-table nopadding">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Fecha</th>
                        <th>Vendedor</th>
                        <th>Cliente</th>
                        <th>Status</th>
                        <th>Monto</th>
                        <th>Editar</th>
                    </tr>
                    </thead>
                    <% for(var i=0;i<client.quotes.length;i++){
                        var quote = client.quotes[i];
                    %>
                    <tr>
                        <td data-title="Fecha"><%= moment(quote.createdAt).format('Do [de] MMMM YYYY, h:mm:ss a') %></td>
                        <td data-title="Vendedor"><a href="/ventas/editar/<%= quote.id %>"><%= quote.user.name %></a></td>
                        <td data-title="Cliente"><%= quote.client.name %></td>
                        <td data-title="Status"><%= quote.status || 'pendiente' %></td>
                        <td data-title="Monto"><%= quote.totalAmount || 0 %></td>
                        <td data-title="Editar"><a href="/ventas/editar/<%= quote.id %>"><span class="table-icon fa fa-edit"></span></a></td>
                    </tr>
                    <% } %>
                </table>
            </div>
        </div>
        <div class="col-md-11">
            <h4 class="widgettitle"><span class="fa fa-briefcase"></span> Ventas <a href="/ventas/agregar?sc=<%= client.id %>" class="pull-right"><span class="fa fa-plus"></span> Agregar</a></h4>
            <div class="widgetcontent custom-table nopadding">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Fecha</th>
                        <th>Vendedor</th>
                        <th>Status</th>
                        <th>Monto</th>
                        <th>Editar</th>
                    </tr>
                    </thead>
                    <% for(var i=0;i<client.sales.length;i++){
                        var sale = client.sales[i];
                    %>
                    <tr>
                        <td data-title="Fecha"><%= moment(sale.createdAt).format('Do [de] MMMM YYYY, h:mm:ss a') %></td>
                        <td data-title="Vendedor"><a href="/ventas/editar/<%= sale.id %>"><%= sale.user.name %></a></td>
                        <td data-title="Status"><%= sale.status || 'pendiente' %></td>
                        <td data-title="Monto"><%= sale.totalAmount || 0 %></td>
                        <td data-title="Editar"><a href="/ventas/editar/<%= sale.id %>"><span class="table-icon fa fa-edit"></span></a></td>
                    </tr>
                    <% } %>
                </table>
            </div>
        </div>

    </div>
</div>
