<script type='text/javascript'>
    window.client = <%- JSON.stringify(client) %>;
    window.products = <%- JSON.stringify(products) %>;
</script>
<div ng-controller="clientEditCTL">
    <div class="col-md-6">
        <div class="alert alert-block unseen">
            <button data-dismiss="alert" class="close" type="button">×</button>
            <h4><%= __('client-mensaje') %></h4>
            <p style="margin: 8px 0"><%= __('client-cliente-actualizado') %></p>
        </div>
        <div form-helper
             fields='content.client'
             object='client'
             action='/clientes/actualizar'
             form-title='<%= __('machine-info') %>'
             restrict="email"
                >
        </div>
    </div>

    <div class="col-md-6">
        <div class="widgetbox">
            <h4 class="widgettitle"><%= __('client-precios-especiales') %></h4>
            <form accept-charset="utf-8" enctype="multipart/form-data" class="stdform stdform2 ng-pristine widgetcontent nopadding" ng-submit="specialPriceProcess()">
                <p>
                    <label><%= __('client-descuente-gen') %></label>
                    <span class="field">
                        <span class="input-group">
                            <input class="form-control" type="text" ng-model='client.discount'>
                            <span class="input-group-addon">%</span>
                        </span>
                    </span>
                </p>

                <p>
                    <label><%= __('client-por-product') %></label>
                    <span class="field">
                        <select class="form-control" ng-options='product.name for product in products' ng-model='selected_products' chosen multiple></select>
                    </span>
                </p>

                <p ng-repeat="product in selected_products">
                    <label ng-init="product = { name : product.name, symbol : '%',showMenu : false, finalPrice : calculatePrice(product.price), cost : product.price.cost,margin : product.price.margin  }">{{product.name}}</label>
                    <span class="field">
                        <label>{{product.cost * (1 + ((product.margin ? product.margin : 0)/100))}}</label>
                        <select class="form-control span2" ng-change="setMenu(product)" ng-model="product.symbol">
                            <option value="$">- $</option>
                            <option value="%">- %</option>
                            <option value="=">=</option>
                        </select>
                        <input class="form-control span2" type="text" ng-model='product.discount' ng-change="setMenu(product)">
                        <label ng-bind='product.finalPrice'></label>
                    </span>
                </p>
                <p class="stdformbutton">
                    <button class="btn btn-primary"><%= __('client-guardar') %></button>
                </p>
            </form>
        </div>
    </div>

    <div class="col-md-6">
        <div class="widgetbox">
            <h4 class="widgettitle"><%= __('client-contactos') %> <span ng-click='toggleNewContact()'  class='fa icon' ng-class='newContactClass'></span>  </h4>
            <div ng-show='showContactForm'>
                <div form-helper
                     fields='content.client_contact'
                     form-footer='<%= __('sc_editcontact') %>'
                     form-save = 'addContact'
                     object = 'contact'
                     hidden-fields = 'hiddenFields'
                     objects='{contact_types:contact_types}'
                        >
                </div>
            </div>
            <div ng-show='client.contacts.length'>
                <div table-helper objects='client.contacts' columns='content.client_contact' edit-route='/client/edit_contact' delete-route='/client/delete_contact'></div>
            </div>

        </div>
    </div>

</div>
