<div ng-controller="clientCTL">
    <div class="row-fluid">
        <div class="col-md-12">
            <div class="buttons-box">
                <!-- Single button -->
                <div class="btn-group">
                    <button type="button" class="btn btn-default button-orange dropdown-toggle" data-toggle="dropdown">
                        <span class="table-icon fa fa-filter"></span><%= __('client-filtros') %>  <span class="fa fa-caret-down"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                    </ul>
                </div>
                <a class="btn btn-default button-orange" data-toggle="modal" data-target="#addClientModal"><span class="table-icon fa fa-plus"></span>   <%= __('client-agregar-cliente') %></a>
            </div>
            <div class="widgetcontent custom-table nopadding">
                <table class="table table-striped">
                    <tr class='hide-sm'>
                        <th><%= __('client-nombre') %></th>
                        <th><%= __('client-direccion') %></th>
                        <th><%= __('client-contacto') %></th>
                        <th><%= __('client-rfc') %></th>
                        <th><%= __('order-editar') %></th>
                        <th><%= __('client-accion') %></th>
                    </tr>
                    <% for(var i = 0; i< clients.length; i++){ %>
                    <tr>
                        <td class='show-sm th'>
                            <a class='pull-right btn' ng-click="isHiden[<%= i %>]=!isHiden[<%= i %>]"><i class='fa fa-{{!isHiden[<%= i %>]?"plus":"minus"}}'></i> {{!isHiden[<%= i %>]?'Expandir':'Cerrar'}}</a>
                            <span>
                            cliente: <strong><%= clients[i].name %></strong>
                            </span>
                        </td>
                        <td ng-class='!isHiden[<%= i %>]?"hide-row":""' data-title="Nombre"><%= clients[i].name %></td>
                        <td ng-class='!isHiden[<%= i %>]?"hide-row":""' data-title="Direccion"><%= clients[i].address %></td>
                        <td ng-class='!isHiden[<%= i %>]?"hide-row":""' data-title="Telefono"><%= clients[i].phone %></td>
                        <td ng-class='!isHiden[<%= i %>]?"hide-row":""' data-title="RFC"><%= clients[i].rfc %></td>
                        <td ng-class='!isHiden[<%= i %>]?"hide-row":""' data-title="Editar"><a href="/clientes/editar/<%= clients[i].id %>"><span class="table-icon fa fa-edit"></span></a></td>
                        <td ng-class='!isHiden[<%= i %>]?"hide-row":""'><a style="cursor: pointer" ng-click="destroyObject(object,key)" class="fa fa-trash-o"></a></td>
                    </tr>
                    <% } %>
                </table>
            </div>
        </div>
    </div>
    <div class="modal fade" id="addClientModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div
                        form-helper
                        fields='content.client'
                        form-footer='<%= __("order-agregar") %>Agregar'
                        form-save = 'createClient'
                        object = 'client'
                        form-title='<%= __("client-agregar-cliente") %>Agregar Cliente'
                        modal='true'
                        >
                </div>
            </div>
        </div>
    </div>
</div>
