<div class="header">
    <div class="logo">
        <a href="/home/index"><img src="/images/logos/as_logo.png" alt="logo" width="200" /></a>
    </div>
    <div class="headerinner">
        <ul class="headmenu">
            <li class="odd">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <!--<span class="count"><%=companies.length%></span>-->
                    <!--<span class="head-icon  head-contracts"></span>-->
                    <span class="fa fa-home menu-icon"></span>
                    <span class="headmenu-label">Inicio</span>
                </a>
                <ul class="dropdown-menu">
                    <li class="nav-header">Cambiar empresa</li>
		<% for(var i=0;i<companies.length;i++){ %>
			<li><a href="<%= companies[i].url %>">
				<img src="/uploads/companies/50x50<%= companies[i].icon %>" alt="" />
				<strong><%= companies[i].name %></strong>
				<small><%= companies[i].desc %></small>
			</a></li>
		<% } %>

                </ul>
            </li>
            <li>
                <a href="#">
                    <!--<span class="count"><%=companies.length%></span>-->
                    <span class="fa fa-barcode menu-icon"></span>
                    <span class="headmenu-label">Venta</span>
                </a>
            </li>
            <li class="right">
                <div class="userloggedinfo">
                    <img src="/uploads/users/80x80<%=req.user.icon%>" alt="" />
                    <div class="userinfo">
                        <h5><%- req.user.name %><small>- <%-req.user.email%></small></h5>
                        <ul>
                            <li><a href="#">Editar perfil</a></li>
                            <li><a href="/users/edit/<%=req.user.id%>">Configuracion de cuenta</a></li>
                            <li><a href="/home/logout">Cerrar sesion</a></li>
                        </ul>
                    </div>
                </div>
            </li>
        </ul><!--headmenu-->
    </div>
</div>
