<div class="header">
    <div class="logo">
        <a href="/home/index"></a>
    </div>
    <div class="headerinner">
        <ul class="headmenu">
            <li class="odd">
                <a class="dropdown-toggle" data-toggle="dropdown" href="/home">
                    <!--<span class="count"><%=companies.length%></span>-->
                    <!--<span class="head-icon  head-contracts"></span>-->
                    <span class="count"><%=companies.length%></span>
                    <span class="fa fa-home menu-icon"></span>
                    <span class="headmenu-label">Empresas</span>
                </a>
                <ul class="dropdown-menu">
                    <li class="nav-header">Cambiar empresa</li>
                    <% for(var i=0;i<companies.length;i++){ %>
                        <li><a href="<%= companies[i].url %>">
			<%var icon = companies[i].icon?"/uploads/companies/50x50"+companies[i].icon:"http://placehold.it/50x50"%>
                            <img src="<%=icon%>" alt="" />
                            <strong><%= companies[i].name %></strong>
                            <small><%= companies[i].description %></small>
                        </a></li>
                    <% } %>

                </ul>
            </li>
            <!-- <li>
                <a href="/sale">
                    
                    <span class="fa fa-barcode menu-icon"></span>
                    <span class="headmenu-label">Ventas</span>
                </a>
            </li> -->
            <%-partial('userinfo') -%> 
        </ul><!--headmenu-->
    </div>
</div>
