<div class="leftpanel">
    
    <div class="leftmenu">        
        <ul class="nav nav-tabs nav-stacked">
		<li class="nav-header">Navegación</li>
		<% var activeC='active'; %>
		<li class="<%=active=='home'?activeC:''%>"><a href="/home/"><span class="fa fa-th-large"></span> Tablero</a></li>
		<li class="dropdown <%=active=='admin'?activeC:'' %>">
			<a href=""><span class="fa fa-laptop"></span>Sistema</a>
			<ul>
				<li><a href="/admin">Empresas</a></li>
				<li><a href="/admin/currencies">Monedas</a></li>
			</ul>
		<li>
		<li class="dropdown <%=active=='users'?activeC:'' %>">
            <a href=""><span class="fa fa-user"></span>Usuarios</a>
			<ul>
				<li><a href="/users/">Usuarios</a></li>
				<li><a href="registration.html">Permisos</a></li>
			</ul>
		</li>
		<li class="dropdown <%=active=='product'?activeC:'' %>">
			<a href=""><span class="fa fa-cubes"></span>Categorias</a>
			<ul>
				<li><a href="/product">Agregar categoria</a></li>
				<li><a href="/product/products">Agregar producto</a></li>
				<li><a href="/product/filters">productos</a></li>
			</ul>
		<li>
        <li class="dropdown <%=active=='client'?activeC:'' %>">
            <a href=""><span class="fa fa-exchange"></span>Ventas</a>
            <ul>
                <li><a href="/sale">Listado</a></li>
                <li><a href="/sale/add">Nueva venta</a></li>
            </ul>
        <li>
        <li class="dropdown <%=active=='client'?activeC:'' %>">
            <a href=""><span class="fa fa-users"></span>Clientes</a>
            <ul>
                <li><a href="/clients">Clientes</a></li>
                <li><a href="/clients/add">Agregar cliente</a></li>
            </ul>
        <li>
	</ul>
    </div><!--leftmenu-->
    
</div><!-- leftpanel -->
