<li class="right">
    <div class="userloggedinfo">
    	<%var icon = req.user.icon?"/uploads/users/80x80"+req.user.icon.filename:"http://placehold.it/80x80" %>
        <img src="<%=icon%>" alt="" />
        <div class="userinfo">
            <h5><%- req.user.name %><small>- <%-req.user.email%></small></h5>
            <ul>
                <li><a href="/user/edit/<%=req.user.id%>"><%= __('h-edit') %></a></li>
                <!-- <li><a href="">Configuracion de cuenta</a></li> -->
                <li><a href="/salir"><%= __('h-sesion') %></a></li>
                <li ng-controller="switchLangCTL" class="switch-lang">
                    <script>
                        window.currentLang = '<%- req.session.lang %>';                        
                    </script>
                    <select 
                    ng-init="setDefaults()" 
                    ng-model="currentLang" 
                    ng-change="switchLang(currentLang.value)"
                    ng-options="lang.label for lang in langs track by lang.value"
                    disable-search="true"
                    chosen="langs">
                    </select>
                </li>
            </ul>
        </div>
    </div>
</li>
