<script type='text/javascript'>
	window.products = <%- JSON.stringify(products) %>;
    window.product_types = <%- JSON.stringify(product_types) %>;
    window.cranes = <%- JSON.stringify(cranes) %>;
    window.materials = <%- JSON.stringify(materials) %>;
    window.tools = <%- JSON.stringify(tools) %>;
    window.work_types = <%- JSON.stringify(work_types) %>;
    window.zones = <%- JSON.stringify(zones) %>;
</script>
<div ng-controller="saleCTL">
    <div class="row-fluid">
        <%- partial('../product/selectorAdd') %>
        <%- partial('../installation/add-modal') %>
    	<div class="col-md-4">
	        <h4 class="widgettitle"><span class="fa fa-user"></span> Cliente </h4>
	        <div class="widgetcontent main-client">
	            <img src="http://placehold.it/80x80" class="pull-left" alt="avatar" width="80">
	            <div class="client-info">
	                <p><strong><a href="/clients/edit/<%- quote.client.id %>>"><%= quote.client.name %></a></strong></p>
	                <p><strong>Compañia: </strong><%= quote.client.company %></p>
	                <p><strong>Direccion: </strong><%= quote.client.address %></p>
	                <p><strong>Telefono: </strong><%= quote.client.phone %></p>
	            </div>
	        </div>
	</div>
        <div class="col-md-8">
            <div class="buttons-box">
                <a class="btn btn-default button-orange" data-toggle="modal" data-target="#productModal"><span class="table-icon fa fa-plus"></span> AGREGAR PRODUCTO</a>
                <a class="btn btn-default button-orange" data-toggle="modal" data-target="#installationModal"><span class="table-icon fa fa-plus"></span> AGREGAR INSTALACION</a>
            </div>

            <div class="widgetcontent custom-table nopadding">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Monto</th>
			                <th>Cantidad</th>
                            <th>Monto total</th>
                            <th>Fecha</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <%
                    var totalQuote = 0;
                    for(var i=0;i<quote.products.length;i++){
                        var product = quote.products[i];
                        var total = product.price * product.quantity;
                        totalQuote += total;
                    %>
                    <tr>
                        <td data-title="Nombre"><%= product.name %></td>
                        <td data-title="Monto">$<%= product.price || 0 %></td>
			            <td data-title="Cantidad"><%= product.quantity%></td>
                        <td data-title="Monto total">$<%= total %></td>
                        <td data-title="Fecha"><%= moment(product.createdAt) %></td>
                        <td data-title="Action"><span ng-click="deleteProduct('<%- product.id %>','<%- quote.id %>')" class="table-icon fa fa-eraser" style="cursor : pointer;" tooltip="borrar"></span></td>
                    </tr>
                    <% } %>
                    <tr>
                        <td colspan="6"><span>Total : $<%= totalQuote %></span></td>
                    </tr>
                </table>

            </div>

           
        </div>
    </div>
</div>
