<script type='text/javascript'>
	window.products = <%- JSON.stringify(products) %>;
	window.productsId = <%- JSON.stringify(productsId) %>;
</script>
<div ng-controller="saleCTL">
    <div class="row-fluid">
        <%- partial('../product/selectorAdd') %>
    	<div class="col-md-4">
	        <h4 class="widgettitle"><span class="fa fa-user"></span> Cliente </h4>
	        <div class="widgetcontent main-client">
	            <img src="http://placehold.it/80x80" class="pull-left" alt="avatar" width="80">
	            <div class="client-info">
	                <p><strong><a href="/clients/edit/<%- quote.client.id %>>"><%= quote.client.name %></a></strong></p>
	                <p><strong>Compañia: </strong><%= quote.client.company %></p>
	                <p><strong>Direccion: </strong><%= quote.client.address %></p>
	                <p><strong>Telefono: </strong><%= quote.client.phone %></p>
	            </div>
	        </div>
	</div>
        <div class="col-md-8">
            <div class="buttons-box">
                <a class="btn btn-default button-orange" data-toggle="modal" data-target="#productModal"><span class="table-icon fa fa-plus"></span> AGREGAR PRODUCTO</a>
            </div>

            <div class="widgetcontent custom-table nopadding">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Fecha</th>
                            <th>Nombre</th>
                            <th>Monto</th>
			    <th>Cantidad</th>
                            <th>Editar</th>
                        </tr>
                    </thead>
                    <% for(var i=0;i<quote.products.length;i++){
                        var product = quote.products[i];
                    %>
                    <tr>
                        <td data-title="Fecha"><%= moment(product.createdAt) %></td>
                        <td data-title="Nombre"><%= product.name %></td>
                        <td data-title="Monto"><%= product.price || 0 %></td>
			<td data-title="Cantidad"><%= product.quantity%></td>
                        <td data-title="Editar"><a href="/product/edit/<%= product.id %>"><span class="table-icon fa fa-edit"></span></a></td>
                    </tr>
                    <% } %>
                </table>
            </div>
        </div>
    </div>
</div>
