<script type='text/javascript'>
	window.tours = <%- JSON.stringify(tours) %>;
	window.locations = <%- JSON.stringify(locations) %>;
	window.schemes = <%- JSON.stringify(schemes) %>;
	window.providers = <%- JSON.stringify(providers) %>;
</script>
<div ng-controller='tourCTL' >
	<!--<p><button class="btn btn-primary" data-toggle="modal" data-target="#myModal">Nuevo Tour</button></p>-->
	<!--<div directory-listing objects='hotels' searchInput='searchInput' dir='hotels' edit-url='/hotel/edit/' get-info='getInfo' button-text='Nuevo Tour'></div>-->

	<div directory-listing 
		objects='tours' 
		keywords='searchInput' 
		dir='tours' 
		edit-url='/tour/edit/' 
		get-info='getInfo'
        	get-url="/tour/find/"
		name-var='nombre_completo'
		button-text='<%= __('tour-nuevo')%>'
	></div>
	<div class="modal fade" id="myModal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div 
					form-helper 
			        fields='content.tour' 
			        form-footer='<%= __('order-agregar')%>'
			        form-save = 'createTour'
			        object = 'tour'
			        form-title='<%= __('tour-agregar')%>'
			       	modal='true'
			        objects='{schemes:schemes,locations:locations,providers:providers}'
			       	currency='company.base_currency'
			        >
			    </div>	
			</div>
		</div>
	</div>
</div>
