<!DOCTYPE html>
<html lang="en" ng-app="spaceerp">
  <head>
    <title>Spaceship ERP</title>
<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
<script src="js/html5shiv.js"></script>
<script src="js/respond.min.js"></script>
<![endif]-->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!--STYLES-->
    <link rel="stylesheet" href="/bower_components/roboto-fontface/roboto-fontface.css">
    <link rel="stylesheet" href="/bower_components/lato/css/lato.css">
    <link rel="stylesheet" href="/bower_components/sass-bootstrap-glyphicons/css/bootstrap-glyphicons.css">
    <link rel="stylesheet" href="/bower_components/chosen/chosen/chosen.css">
    <link rel="stylesheet" href="/styles/bootstrap-fileupload.min.css">
    <link rel="stylesheet" href="/styles/bootstrap-resposive.min.css">
    <link rel="stylesheet" href="/styles/default.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->
	
  </head>
  <link rel="stylesheet" href="/styles/custom/<%= sails.config.template_config.cssFile %>">

  <!--<body>-->
<div id="mainwrapper" class="mainwrapper">
    <%- partial('global/header') -%> 
    <%- partial('global/menu') -%> 

    <div class="rightpanel">
        <ul class="breadcrumbs">
            <li><a href="/home/"><i class="fa fa-home"></i></a> <span class="separator"></span></li>
            <li>Tablero</li>
        </ul>
        
        <div class="pageheader">
            <form action="results.html" method="post" class="searchbar">
                <input type="text" name="keyword" placeholder="Escribe para realizar una busqueda" ng-model='searchInput' onfocus="this.placeholder = ''" onblur="this.placeholder = 'Escribe para realizar una busqueda'"/>
            </form>
            <div class="pageicon"><span class="<%= page.icon || 'fa fa-th-large' %>"></span></div>
            <div class="pagetitle">
                <!-- <h5>All Features Summary</h5> -->
                <h1> <%=page.name || 'Dashboard' %></h1>
                <p class="page-description"><%= page.description || '' %></p>
                <!--<p class="page-description">AQUI PODRAS VISUALIZAR Y ADMINISRAR TODO TU PROCESO DE VENTA</p>-->
            </div>
        </div><!--pageheader-->
        
        <div class="maincontent">
            <div class="maincontentinner">
                <div class="row">
			     <%- body %>
                </div><!--row-->
                
                <div class="footer">
                    <div class="footer-left">
                        <span>&copy; 2014</span>
                    </div>
                    <div class="footer-right">
                        <span>Desarrollo: <a href="http://spaceshiplabs.com/">Spaceshiplabs.com</a></span>
                    </div>
                </div><!--footer-->
                
            </div><!--maincontentinner-->
        </div><!--maincontent-->
        
    </div><!--rightpanel-->
    
</div><!--mainwrapper-->

    <!--TEMPLATES-->
    
    <!--TEMPLATES END-->

    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/jquery-migrate/jquery-migrate.min.js"></script>
    <script src="/bower_components/jquery-ui/ui/minified/jquery-ui.min.js"></script>
    <script src="/bower_components/chosen/chosen/chosen.jquery.min.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/bower_components/modernizr/modernizr.js"></script>
    <script src="/bower_components/jquery-cookie/jquery.cookie.js"></script>
    <script src="/bower_components/flot/jquery.flot.js"></script>
    <script src="/bower_components/flot/jquery.flot.resize.js"></script>
    <script src="/bower_components/slimScroll/slimScroll.min.js"></script>
    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/bower_components/angular-sails/dist/angular-sails.min.js"></script>
    <script src="/bower_components/jquery-form/jquery.form.js"></script>
    <script src="/js/themejs/bootstrap-fileupload.min.js"></script>
    <script src="/js/themejs/bootstrap-wizard.min.js"></script>
    <script src="/js/themejs/chat.js"></script>
    <script src="/js/themejs/colorpicker.js"></script>
    <script src="/js/themejs/excanvas.min.js"></script>
    <script src="/js/themejs/exchange-rates.js"></script>
    <script src="/js/themejs/jquery.autogrow-textarea.js"></script>
    <script src="/js/themejs/jquery.bxSlider.min.js"></script>
    <script src="/js/themejs/jquery.dataTables.min.js"></script>
    <script src="/js/themejs/jquery.smartWizard.min.js"></script>
    <script src="/js/themejs/jquery.tagsinput.min.js"></script>
    <script src="/js/themejs/jquery.uniform.min.js"></script>
    <script src="/js/themejs/responsive-tables.js"></script>
    <script src="/js/themejs/ui.spinner.min.js"></script>
    <script src="/js/controller.js"></script>
    <script src="/js/custom.js"></script>
    <script src="/js/interactions.js"></script>
    <!--SCRIPTS END-->
   
  <!--</body>-->
</html>
