<script type='text/javascript'>
    window.user = <%- JSON.stringify(user) %>;

</script>
<div class="span4 profile-left profileEdit"  ng-controller='userEditCTL'>
	<div class="alert alert-block unseen">
		<button data-dismiss="alert" class="close" type="button">×</button>
		<h4>Mensaje</h4>
			<p style="margin: 8px 0">El usuario se ha actualizado exitosamente</p>
		</div>
        
        <div profile-image object='user' update-method='/user/updateIcon' delete-method='/user/destroyIcon' image-attr='icon' dir='users'></div>
        
        
    <div class="widgetbox tags">
        <h4 class="widgettitle">Aplicaciones y Permisos</h4>
        <div class="widgetcontent">
            <accordion close-others='false'>
                <accordion>
                    <accordion-group heading="{{app.label}}" ng-repeat="(handle, app) in user.accessList">
                        <table class="table responsive">
                            <thead>
                                <tr>
                                    <th>Modulo</th>
                                    <th>Crear</th>
                                    <th>Actualizar</th>
                                    <th>Borrar</th>
                                </tr>
                            </thead>
                            <tbody ng-click="update()">
                                <tr ng-repeat='view in app.views'>
                                    <td ng-bind='view.label'></td>
                                    <td>
                                         <div class="checkbox">
                                            <label>
                                                <input type="checkbox" ng-model='view.permissions.create' >
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                         <div class="checkbox">
                                            <label>
                                                <input type="checkbox" ng-model='view.permissions.update'>
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                         <div class="checkbox">
                                            <label>
                                                <input type="checkbox" ng-model='view.permissions.delete'>
                                            </label>
                                        </div>
                                    </td>
                                    
                                </tr>
                            </tbody>
                        </table>
                        <a class="btn btn-primary" ng-click="updateAccestList()">Actualizar Usuario</a> 
                    </accordion-group>
                </accordion>
            </accordion>
        </div>
    </div>
        
        
  
        
</div>
<div class="span6">        
    <div class="widgetbox personal-information">
        <h4 class="widgettitle">Información Basica</h4>
        <div class="widgetcontent">
            <form action="/user/editAjax" class="editprofileform stdform stdform2 commonForm" method="post">

                    <p><label for="name">Nombre:</label>
                    <span class="field"><input type="text" name="name" class="input-xlarge" value="<%= user.name %>"></span></p> 

                    <p><label for="last_name">Apellido</label>
                    <span class="field"><input type="text" name="last_name" class="input-xlarge" value="<%= user.last_name %>"></span></p>
                
                    <p><label for="email">Email</label>
                    <span class="field"><input type="text" name="email" class="input-xlarge" value="<%=user.email %>"></span></p>
                    
                    <p><label for="phone">Telefono</label>
                    <span class="field"><input type="text" name="phone" class="input-xlarge" value="<%= user.phone %>"></span></p>
                    <p class="stdformbutton">
                    <%var active = {
                        true:[0,'Desactivar']
                        , false:[1,'Activar']
                    } %>
                    
                        <button type="submit" class="btn btn-primary">Actualizar Usuario</button> &nbsp; 
                        <a class="confirmbutton"  data-url="/user/" href="<%=active[user.active][0]%>"><%=active[user.active][1]%></a>
                    </p>
                    <input type="hidden" name="method" value="info" />
                    <input type="hidden" name="userId" value="<%= user.id %>" />
                </form>                
        </div>
    </div>
        
    <div>
    
	    <%// partial('../global/notices') -%> 
    </div>
</div>
