<script type='text/javascript'>
	window.users = <%- JSON.stringify(users) %>;
    window.content = <%- JSON.stringify(_content) %>;
</script>
<div ng-controller='userCTL' >
	<!--<p><button class="btn btn-primary" data-toggle="modal" data-target="#myModal">Nuevo Usuario</button></p>
	<br/>-->

	<div directory-listing objects='users' searchInput='searchInput' dir='users' edit-url='/user/edit/' get-info='getInfo' button-text='Nuevo Usuario' get-url="/user/find/"  
		button-text-export='<%= __('export') %>' 
		type-export='user' 
		type-export-text='<%= __("sc_users") %>' 
		button-text-import='<%= __('import') %>' 
		type-import='user'
		lang='<%=req.session.lang || "en"%>'></div>

	<div class="clearfix"></div>
	<div class="span6">
		<div class="alert alert-block unseen userAlert">
			<button data-dismiss="alert" class="close" type="button">×</button>
			<h4><%= __('user-mensaje')%></h4>
			<p><%= __('user-actualizado')%></p>
		</div>
	</div>

    <div class="modal fade" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <%- partial('partial/new') %>
            </div>
        </div>
    </div>

</div>
