<script type='text/javascript'>
    window.order = <%- JSON.stringify(order) %>;
    window.ordercompany = <%- JSON.stringify(ordercompany) %>;
    window.clients_ = <%- JSON.stringify(clients_) %>;
    window.hotels = <%- JSON.stringify(hotels) %>;
    window.transfers = <%- JSON.stringify(transfers) %>;
	window.content = <%- JSON.stringify(_content) %>;
    window.userID = <%- JSON.stringify(req.user.id) %>;
    window.theclient = <%- JSON.stringify(theclient) %>;
    console.log(window.theclient);
    //console.log(theclient.contacts[0]);console.log(order);console.log(hotels);
</script>
<div ng-controller='orderEditCTL' class="editar-reservacion ng-cloak">
    <div class='row'>
        <div class='col-md-8'>
            <!-- Datos del Cliente -->
            <div class="widgetbox personal-information">
                <div 
                    form-helper 
                    fields='content.client_ct' 
                    object = 'theclient'
                    action='/clientes/actualizar' 
                    form-title='Datos del cliente'
                    >
                </div>
            </div>
            <!-- Reserva de Hoteles -->
            <form class='stdform stdform2' action='' name='' method='post'>
                <div class='headtitle'>
                    <div class='btn-group'>
                        <a class="btn btn-primary pull-right" ng-click="isChotel = !isChotel"><i class='fa {{isChotel?"fa-plus":"fa-minus"}}'></i></a>
                        <a class="btn btn-primary pull-right" ng-click="saveAll()"><i class='fa fa-save'></i> <%= __('order-guardar-todo')%></a>
                    </div>
                    <h4 class="widgettitle"><%= __('order-reservar-hotel')%></h4>
                </div>
                <div collapse="isChotel">
                    <div class='isCtourContainer'>
                        <div ng-repeat='item in reservations.hotels'>
                            <%- partial('inputsHotel') -%> 
                        </div>
                        <div ng-hide="!reservations.hotels.lenght>0">
                            <h5>No existen Hoteles reservados.</h5>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </form>
            <!-- Reserva de Tours -->
            <form class='stdform stdform2' action='' name='' method='post'>
                <div class='headtitle'>
                    <div class='btn-group'>
                        <a class="btn btn-primary pull-right" ng-click="isCtour = !isCtour"><i class='fa {{isCtour?"fa-plus":"fa-minus"}}'></i></a>
                        <a class="btn btn-primary pull-right" ng-click="saveAll()"><i class='fa fa-save'></i> <%= __('order-guardar-todo')%> </a>
                    </div>
                    <h4 class="widgettitle"><%= __('order-reservar-tour')%></h4>
                </div>
                <div collapse="isCtour">
                    <div class='isCtourContainer'>
                        <div ng-repeat='item in reservations.tours'>
                            <%- partial('inputsTour') -%> 
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </form>
            <!-- Reserva de Traslados -->
            <form class='stdform stdform2 widgetbox' action='' name='' method='post'>
                <div class='headtitle'>
                    <div class='btn-group'>
                        <a class="btn btn-primary pull-right" ng-click="isCtransfer = !isCtransfer"><i class='fa {{isCtransfer?"fa-plus":"fa-minus"}}'></i></a>
                        <a class="btn btn-primary pull-right" ng-click="saveAll()"><i class='fa fa-save'></i> <%= __('order-guardar-todo')%></a>
                    </div>
                    <h4 class="widgettitle"><%= __('order-reservar-tras')%></h4>
                </div>
                <div collapse="isCtransfer">
                    <%- partial('inputsEditTransfer') -%> 
                </div>
                <div class="clearfix"></div>
            </form>
        </div><!-- Termina Col 8 (reservaciones) -->
        <div class='col-md-4'>
            <div class='widgetbox'>
                <h4 class="widgettitle">Información de pago</h4>
                <div class="widgetcontent paymentInformation">
                    <div ng-show="!transfer.fee && reservations.tours.length==0 && reservations.hotels.length==0">
                        <h4>No hay reservas activas</h4>
                    </div>
                    <div ng-show="transfer.fee || reservations.tours.length || reservations.hotels.length">
                        <div ng-if="transfer.fee">
                            <h4><strong>Reserva de traslado</strong></h4>
                            <p><span ng-bind="transfer.transfer.name"></span> - $<span ng-bind="transfer.fee"></span></p>
                        </div>
                        <div ng-if="reservations.tours.length">
                            <h4><strong>Reserva de tours</strong></h4>
                            <p ng-repeat="t in reservations.tours"><span ng-bind="t.tour.name"></span> - $<span ng-bind="t.fee + f.feeKids"></span></p>
                        </div>
                        <div ng-if="reservations.hotels.length">
                            <h4><strong>Reserva de hoteles</strong></h4>
                        </div>
                        <hr>
                        <h4>TOTAL : $<span ng-bind="theTotal"></span></h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--<div class="modal fade" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div 
                    form-helper 
                    fields='content.client' 
                    form-footer='Agregar'
                    form-save = 'createClient'
                    object = 'client_c'
                    form-title='Agregar Cliente'
                    modal='true'
                    >
                </div>  
            </div>
        </div>
    </div>-->
    <div class="modal fade" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class='widgetbox'>
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title">Clientes para las reservas</h4>
                    </div>
                    <div class='widgetcontent noborder'><div class='row'>
                        <div class='col-md-12'>
                            <h4 class='widgettitle'>Clientes de este item</h4>
                            <div class='widgetcontent'>
                                <ul>
                                    <li ng-repeat="c in theIFC.contacts">
                                        <a>{{c.name}},</a>
                                        <a>{{c.email}}</a>
                                        <span class='icons pull-right'>
                                            
                                        </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div></div>
                    <div class='stdform2'>
                        <p class="stdformbutton">
                            <button type="button" class="btn btn-primary pull-right" data-dismiss="modal" aria-hidden="true">Cerrar</button>
                            <span class='clear'></span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="cargando-elementos" class="ng-cloak">
    <img src="/images/loaders/images-cm.gif">
</div>