<script type='text/javascript'>
    window.order = <%- JSON.stringify(order) %>;
    window.ordercompany = <%- JSON.stringify(ordercompany) %>;
    window.clients_ = <%- JSON.stringify(clients_) %>;
    window.hotels = <%- JSON.stringify(hotels) %>;
    window.transfers = <%- JSON.stringify(transfers) %>;
	window.content = <%- JSON.stringify(_content) %>;
    window.userID = <%- JSON.stringify(req.user.id) %>;
    window.theclient = <%- JSON.stringify(theclient) %>;
    //console.log(window.order);
    //console.log(theclient.contacts[0]);console.log(order);console.log(hotels);
</script>
<div ng-controller='orderEditCTL' class="editar-reservacion ng-cloak">
    <div class='row'>
        <div class='col-md-8'>
            <% if (req.user.hasPermission(req.res.locals.selected_company.id,'orders_e')) { %>
                <a ng-hide="reservationCollapse" ng-click="reservationCollapse=!reservationCollapse" class='btn ng-delete-button'><i class='fa fa-calendar-o'></i> Modificar fecha de captura</a><br>
                <div uib-collapse="!reservationCollapse" class='widgetbox stdform stdform2'>
                    <h4 class='widgettitle'>Fecha de captura</h4>
                    <form class='widgetcontent nopadding' ng-submit="updateOrderDate()">
                        <p>
                            <label>Fecha</label>
                            <span class='field'>
                                <datepicker ng-model="orderUpdate" show-weeks="true" ></datepicker>
                            </span>
                        </p>
                        <p class='stdformbutton'><button type='submit' class='btn bt-primary'>Cambiar fecha</button></p>
                    </form>
                </div>
            <% } %>
            <!-- Datos del Cliente -->
            <div class="widgetbox personal-information">
                <div class='headtitle'>
                    <a class='expand' ng-click="setSteps('',1)"><h4 class="widgettitle"><i class='fa fa-user'></i> <%= __('order-cliente')%></h4></a>
                </div>
                <div class='widgetcontent nopadding'><div uib-collapse="!(steps==1?true:false)">
                    <form class='form stdform stdform2 nopadding'>
                        <p>
                            <label>Nombre completo*</label>
                            <span class='field'><input type='text' name="name" ng-model="theclient.name" ng-required="true"></span>
                        </p>
                        <p>
                            <label>Teléfono*</label>
                            <span class='field'><input type='text' name="phone" ng-model="theclient.phone" ng-required="true"></span>
                        </p>
                        <p>
                            <label>E-mail*</label>
                            <span class='field'><input type='text' name="email" ng-model="theclient.email" ng-required="true"></span>
                        </p>
                    </form>
                    <p class='order-controls'>
                        <a class='btn btn-primary secondary pull-right' ng-click="setSteps('next',false)" >Siguiente</a>
                        <a class='btn btn-primary secondary pull-right' ng-click="UpdateClient()">Actualizar</a>
                        <span class='clear'></span>
                    </p>
                </div></div><!-- widgetcontent -->
            </div>
            <!-- Reserva de Hoteles -->
            <div class='row'><div class="col-md-12">
                <form class='stdform' action='' name='' method='post'>
                    <div class='headtitle'>
                        <a class='expand' ng-click="setSteps('',2)"><h4 class="widgettitle"><i class='fa fa-building'></i> <%= __('order-reservar-hotel')%></h4></a>
                    </div>
                    <div uib-collapse="!(steps==2?true:false)">
                        <div class='isCtourContainer'>
                            <div class='stdform2' ng-repeat='item in reservations.hotels' ng-hide="item.saved">
                                <%- partial('inputsHotel') -%> 
                            </div>
                            <div ng-hide="reservations.hotels.length==0" class="peoplelist orderTourList"><div class='peopleinfo'><ul>
                                <li>Tours agregados a la reserva</li>
                                <li ng-repeat='item in reservations.hotels'>
                                    <div class='thumb'>
                                        <img ng-if='item.hotel.icon' ng-src="/uploads/hotels/50x50{{item.hotel.icon.filename}}">
                                        <img ng-if='!item.hotel.icon' ng-src="http://placehold.it/50x50">
                                    </div>
                                    <div class='info'>
                                        <p><span ng-bind="item.hotel.name"></span></p>
                                        <p><span ng-if="item.pax">{{item.pax}} adultos</span> </p>
                                        <p><span ng-if="item.kidPax">{{item.kidPax}} menores</span> </p>
                                        <p>Total: $<span ng-bind="item.fee"></span></p>
                                    </div>
                                    <span class='pull-right actions' ng-hide="!item.saved">
                                        <a ng-click="item.saved=false;" ><i class='fa fa-pencil'></i> Editar</a>
                                        <a ng-click="removeTH($index,'hotel')" ><i class='fa fa-times'></i> Eliminar</a>
                                    </span>
                                    <div class='clear'></div>
                                </li>
                            </ul></div></div>
                            <div ng-hide="!reservations.hotels.lenght>0">
                                <h5>No existen Hoteles reservados.</h5>
                            </div>
                        </div>
                        <div class='headtitle'>
                            <a ng-click="setSteps('next',false)" class='btn btn-primary secondary pull-right' >Siguiente</a>
                            <a ng-click="reservations.hotels=[];setSteps('next',false)" class='btn btn-primary secondary pull-right' >Omitir</a>
                            <a ng-hide="" ng-click="setSteps('prev',false)" class='btn btn-primary secondary pull-right' >Anterior</a>
                            <span class='clear'></span>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </form>
            </div></div>
            <!-- Reserva de Tours -->
            <div class='row'>
            <form class='stdform col-md-12' action='' name='' method='post'>
                <div class='headtitle'>
                    <a class='expand' ng-click="setSteps('',3)"><h4 class="widgettitle"><i class='fa fa-compass'></i> <%= __('order-reservar-tour')%></h4></a>
                </div>
                <div uib-collapse="!(steps==3?true:false)">
                    <div class='row'>
                        <div class='col-md-12 peoplelist orderTourList'>
                            <input type="text" class="form-control" 
                                    placeholder="Buscar Tours"
                                    ng-model="searchTours"
                                    ng-change="getAllTours()" >
                            <div class='peopleinfo'><ul>
                                <li ng-repeat="t in allTours.results">
                                    <div class='thumb'>
                                        <img ng-if='t.icon' ng-src="/uploads/tours/50x50{{t.icon.filename}}">
                                        <img ng-if='!t.icon' ng-src="http://placehold.it/50x50">
                                    </div>
                                    <div class='info'>
                                        <p><strong><a ng-bind="t.name"></a></strong>, adultos $<span ng-bind="t.fee"></span> , niños $<span ng-bind="t.feeChild"></span></p>
                                        <p>{{t.description_es | limitTo : 180}}</p>
                                    </div>
                                    <div class='pull-right actions'>
                                        <a ng-click="addTH('tour',t)"><i class='fa fa-plus'></i> Agregar</a>
                                        <a ng-click="openTH('tour',t)" data-toggle="modal" data-target="#myModal2"><i class='fa fa-eye'></i> Ver más</a>
                                    </div>
                                    <div class='clear'></div>
                                </li>
                            </ul></div>
                            <div><pagination total-items="allTours.count" ng-model="toursCurrentPage" max-size="7" class="pagination-sm" items-per-page='5' ng-change="getAllTours()"></pagination></div>
                        </div>
                    </div><br >
                    <div class='isCtourContainer'>
                        <div class='stdform2' ng-repeat='item in reservations.tours' ng-hide="item.saved">
                            <%- partial('inputsTour') -%> 
                        </div>
                        <div ng-hide="reservations.tours.length==0" class="peoplelist orderTourList"><div class='peopleinfo'><ul>
                            <li>Tours agregados a la reserva</li>
                            <li ng-repeat='item in reservations.tours'>
                                <div class='thumb'>
                                    <img ng-if='item.tour.icon' ng-src="/uploads/tours/50x50{{item.tour.icon.filename}}">
                                    <img ng-if='!item.tour.icon' ng-src="http://placehold.it/50x50">
                                </div>
                                <div class='info'>
                                    <p><span ng-bind="item.tour.name"></span></p>
                                    <p><span ng-if="item.pax">{{item.pax}} adultos</span> </p>
                                    <p><span ng-if="item.kidPax">{{item.kidPax}} menores</span> </p>
                                    <p>Total: $<span ng-bind="item.fee + item.feeKids"></span></p>
                                </div>
                                <span class='pull-right actions' ng-hide="!item.saved">
                                    <a ng-click="item.saved=false;" ><i class='fa fa-pencil'></i> Editar</a>
                                    <a ng-click="removeTH($index,'tour')" ><i class='fa fa-times'></i> Eliminar</a>
                                </span>
                                <div class='clear'></div>
                            </li>
                        </ul></div></div>
                    </div>
                    <div class='stdform2 headtitle'>
                        <a ng-click="setSteps('next',false)" class='btn btn-primary secondary pull-right' >Siguiente</a>
                        <a ng-click="setSteps('prev',false)" class='btn btn-primary secondary pull-right' >Anterior</a>
                        <span class='clear'></span>
                    </div>
                </div>
                <div class="clearfix"></div>
            </form>
            </div>
            <!-- Reserva de Traslados -->
            <div class='row'>
                <form class='stdform stdform2 col-md-12 widgetbox' action='' name='' method='post'>
                    <div class='headtitle'>
                        <div class='btn-group'>
                            <a class="btn btn-primary pull-right" ng-click="setTheItemForContacts(transfer,'transfer',false)" data-toggle="modal" data-target="#myModal"><i class='fa fa-user'></i> Clientes</a>
                        </div>
                        <a class='expand' ng-click="setSteps('',4)"><h4 class="widgettitle"><i class='fa fa-car'></i> <%= __('order-reservar-tras')%></h4></a>
                    </div>
                    <div class='widgetcontent nopadding'><div class='collapseCustom' uib-collapse="!(steps==4?true:false)">
                        <%- partial('inputsEditTransfer') -%> 
                    </div></div>
                    <div class="clearfix"></div>
                </form>
            </div>
            <div class='row'>
                <div class='col-md-12 widgetbox'>
                    <h4 class="widgettitle">Información de pago</h4>
                    <div class="widgetcontent stdform stdform2 nopadding">
                        <p>
                            <label><%= __('order-estado')%></label>
                            <span class='field'><select ng-options='obj.handle as obj.name for obj in hrevState' ng-model='generalFields.state' ></select></span>
                        </p>
                        <p>
                            <label><%= __('order-pago')%></label>
                            <span class='field'><select ng-options='obj.handle as obj.name for obj in hrevPayment' ng-model='generalFields.payment_method' ></select></span>
                        </p>
                        <p ng-show="generalFields.payment_method=='creditcard'">
                            <label><%= __('order-autorizacion')%></label>
                            <span class='field'><input type='text' name='autorization_code' ng-model="generalFields.autorization_code" /></span>
                        </p>
                        <p>
                            <label>Moneda</label>
                            <span class='field'>
                                <select ng-options="c.id as c.name for c in thecompany.currencies" name='currency' ng-model='generalFields.currency' ng-change='updatePriceTransfer()' ></select>
                            </span>
                        </p>
                    </div>
                </div>
            </div>
        </div><!-- Termina Col 8 (reservaciones) -->
        <div class='col-md-4'>
            <%- partial('partial/order_resume') -%> 
        </div>
    </div>
    <div><a class="btn btn-primary" ng-click="saveAll()"><i class='fa fa-save'></i> <%= __('order-guardar-todo')%></a></div>
    <!--<div class="modal fade" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div 
                    form-helper 
                    fields='content.client' 
                    form-footer='Agregar'
                    form-save = 'createClient'
                    object = 'client_c'
                    form-title='Agregar Cliente'
                    modal='true'
                    >
                </div>  
            </div>
        </div>
    </div>-->
    <div class="modal fade" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class='widgetbox'>
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title">Clientes para las reservas</h4>
                    </div>
                    <div class='widgetcontent noborder'><div class='row'>
                        <div class='col-md-12'>
                            <h4 class='widgettitle'>Clientes de este item</h4>
                            <div class='widgetcontent'>
                                <ul>
                                    <li ng-repeat="c in theIFC.contacts">
                                        <a>{{c.name}},</a>
                                        <a>{{c.email}}</a>
                                        <span class='icons pull-right'>
                                            
                                        </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div></div>
                    <div class='stdform2'>
                        <p class="stdformbutton">
                            <button type="button" class="btn btn-primary pull-right" data-dismiss="modal" aria-hidden="true">Cerrar</button>
                            <span class='clear'></span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div custom-message messages="customMessages"></div>
</div>
<div id="cargando-elementos" class="ng-cloak">
    <img src="/images/loaders/images-cm.gif">
</div>