<script type='text/javascript'>
	window.content = <%- JSON.stringify(_content) %>;
</script>
<div ng-controller='orderCTL' class='order-index'>
    <div id="cargando-elementos" class='ng-cloak' ng-cloak><img src="/images/loaders/images-cm.gif"></div>
    <div class='ng-cloak' ng-cloak>
	<div class='row'>
		<div class="textbutton col-sm-6 col-md-6 col-xs-12">
            <a data-toggle="modal" data-target="#exportMKP" class='pull-right btn btn-primary full-sm'><i class='fa fa-download'></i> Exportar CSV</a>
			<span class='dropdown pull-right full-sm'>
                <a dropdown-toggle class='btn btn-primary full-width'><i class='fa fa-files-o'></i> Reportes</a>
                <ul role='menu' class='dropdown-menu'>
                    <li>
                        <a ng-click="SelectReport('transfer_gral')">Reporte Traslados (Gral.)</a>
                        <a ng-click="SelectReport('tours_gral')">Reporte Tours (Gral.)</a>
                        <a ng-click="SelectReport('tours_by_agency')">Reporte Tours (by Agency)</a>
                        <a ng-click="SelectReport('tours_by_user')">Reporte Tours (by User)</a>
                    </li>
                </ul>
            </span>
            <div class='clear'></div>
		</div>
        <div class="textbutton col-sm-6 col-md-6 col-xs-12">
            <span class='dropdown pull-right full-sm'>
                <a dropdown-toggle class='btn btn-primary full-width'><i class='fa fa-filter'></i> <%= __('gral_filters')%></a>
                <ul role='menu' class='dropdown-menu'>
                    <li ng-repeat="f in filtersArray">
                        <a ng-click="openFilter(f)" ng-class='!f.active?"inactive":""'>{{f.label}}</a>
                    </li>
                </ul>
            </span>
            <a ng-click='resetFilter()' class='btn btn-primary pull-right full-sm'><i class='fa fa-refresh'></i> <%= __('gral_reset')%></a>
        </div>
	</div>
    <%- partial('partial/filters') -%> 
    <!--<input type="text" ng-model="myModel" placeholder="Autocomplete" typeahead="item as item.name for item in getClients($viewValue)" typeahead-loading="loadingLocations" class="form-control">
    <br>-->
    <div class='row pagination-row'>
        <div class='col-md-4'>
            <p style="display:inline-block;">
                <a href="/order/neworder" class='btn btn-primary'><i class = "fa fa-plus"></i> <%= __('order-crear')%></a>
                <a class="btn btn-primary" data-toggle="modal" data-target="#uploadCVS"><i class="fa fa-upload"></i> <%= __('gral_importcvs')%></a>
                <!--<a href='/order/reporteespecial' class='btn btn-primary'>Reporte de Montos</a>-->
            </p>
            <!-- <input type="text" placeholder="Buscar" class="form-control pull-right search" ng-model="searchText" /> -->
        </div>
        <div class='col-md-8'>
            <div class='viewsIcons'>
                <a ng-click="theView='table'" class='pull-right icon {{theView=="table"?"on":""}}'><i class="fa fa-th"></i></a>
                <a ng-click="theView='list'" class='pull-right icon {{theView=="list"?"on":""}}'><i class="fa fa-list-ul"></i></a>
            </div>
            <pagination total-items="totalOrders" items-per-page='20' ng-model="currentPage" max-size="8" class="pagination-sm pull-right" boundary-links="true" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-change="pageChanged()"></pagination>
        </div>
    </div>
    <br>
    <%- partial('partial/rViews') -%>
	<div class="clearfix"></div>
    <%- partial('partial/cvsForm') -%>
    </div>
    <div class="modal fade" id="reportsModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <report-generator object="theReport"></report-generator>
            </div>
        </div>
    </div>
    <div class='modal fade' id='exportMKP'>
        <div class='modal-dialog'>
            <div class='modal-content'>
                <%- partial('partial/exportMKP') -%>
            </div>
        </div>
    </div>
</div>