<script type='text/javascript'>
	window.content = <%- JSON.stringify(_content) %>;
</script>
<div ng-controller='orderCTL' >
    <div id="cargando-elementos" class='ng-cloak' ng-cloak><img src="/images/loaders/images-cm.gif"></div>
    <div class='ng-cloak' ng-cloak>
	<div class='row'>
		<div class="textbutton col-sm-6 col-md-6 col-xs-12">
			<p style="display:inline-block;">
                <a href="/order/neworder" class='btn btn-primary'><i class = "fa fa-plus"></i> <%= __('order-crear')%></a>
                <a class="btn btn-primary" data-toggle="modal" data-target="#uploadCVS"><i class="fa fa-upload"></i> <%= __('gral_importcvs')%></a>
            </p>
            <!-- <input type="text" placeholder="Buscar" class="form-control pull-right search" ng-model="searchText" /> -->
		</div>
        <div class="textbutton col-sm-6 col-md-6 col-xs-12">
            <span class='dropdown pull-right full-sm'>
                <a dropdown-toggle class='btn btn-primary full-width'><i class='fa fa-filter'></i> <%= __('gral_filters')%></a>
                <ul role='menu' class='dropdown-menu'>
                    <li ng-repeat="f in filtersArray">
                        <a ng-click="openFilter(f)" ng-class='!f.active?"inactive":""'>{{f.label}}</a>
                    </li>
                </ul>
            </span>
            <a ng-click='resetFilter()' class='btn btn-primary pull-right full-sm'><i class='fa fa-refresh'></i> <%= __('gral_reset')%></a>
        </div>
	</div>
    <br>
    <!--<input type="text" ng-model="myModel" placeholder="Autocomplete" typeahead="item as item.name for item in getClients($viewValue)" typeahead-loading="loadingLocations" class="form-control">
    <br>-->
    <div class='row pagination-row'>
        <div class='col-md-4'>
            <!--<span class='dropdown'>
                <a dropdown-toggle class='btn btn-primary'><i class='fa fa-filter'></i> <%= __('gral_filters')%></a>
                <ul role='menu' class='dropdown-menu'>
                    <li ng-repeat="f in filtersArray">
                        <a ng-click="openFilter(f)" ng-class='!f.active?"inactive":""'>{{f.label}}</a>
                    </li>
                </ul>
            </span>
            <a ng-click='resetFilter()' class='btn btn-primary'><i class='fa fa-refresh'></i> <%= __('gral_reset')%></a>-->
        </div>
        <div class='col-md-8'>
            <div class='viewsIcons'>
                <a ng-click="theView='table'" class='pull-right icon {{theView=="table"?"on":""}}'><i class="fa fa-th"></i></a>
                <a ng-click="theView='list'" class='pull-right icon {{theView=="list"?"on":""}}'><i class="fa fa-list-ul"></i></a>
            </div>
            <pagination total-items="totalOrders" items-per-page='20' ng-model="currentPage" max-size="8" class="pagination-sm pull-right" boundary-links="true" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-change="pageChanged()"></pagination>
        </div>
    </div>
    <%- partial('partial/filters') -%> 
    <br>
    <%- partial('partial/rViews') -%>
	<div class="clearfix"></div>
    <%- partial('partial/cvsForm') -%>
    </div>
</div>