<script type='text/javascript'>
	window.orders = <%- JSON.stringify(orders) %>;
	window.content = <%- JSON.stringify(_content) %>;
    //console.log(user);
</script>
<div ng-controller='orderCTL' >
	<div class='row'>
		<div class = "textbutton col-sm-12 col-sm-12 col-xs-12">
			<p style="display:inline-block;"><a href="/order/neworder" class='btn btn-primary'><i class = "fa fa-plus"></i> <%= __('order-crear')%></a></p>
            <input type="text" placeholder="Buscar" class="form-control pull-right search" ng-model="searchText" />
			<br /><br />
		</div>
	</div>
	<div class="widgetcontent custom-table nopadding ng-cloak">
        <table class="table table-striped">
            <tr>
                <th> <%= __('order-id')%> </th>
                <th> <%= __('order-usuario')%> </th>
                <th> <%= __('order-empresa')%> </th>
                <th> <%= __('order-llegada')%> </th>
                <th> <%= __('order-salida')%> </th>
                <th> <%= __('order-cliente')%> </th>
                <th> <%= __('order-hotel')%> </th>
                <th> <%= __('order-aeropuerto')%> </th>
                <th> <%= __('order-tipo')%> </th>
                <th> <%= __('order-origen')%> </th>
                <th> <%= __('order-estado')%> </th>
                <th> <%= __('order-pago')%> </th>
                <th> <%= __('order-fecha')%> </th>
                <th> <%= __('order-total')%> </th>
                <th> <%= __('order-editar')%> </th>
                <% if (req.user.hasPermission(req.res.locals.selected_company.id,'orders_d')) {%>
                    <th> <%= __('order-borrar')%> </th>
                <% } %>
            </tr>
            <tr ng-repeat='order in orders | filter:searchText'>
                <td data-title="Id" ng-bind="order.id"></td>
                <td data-title="Usuario" ng-bind="order.user.name + ' ' + order.user.last_name"></td>
                <td data-title="Empresa" ng-bind="order.company.name"></td>
                <td><ul>
                    <li>Vuelo: {{ order.transfer.arrival_fly  || '---' }}</li>
                    <li>Fecha: {{ formatDate(order.transfer.arrival_date) || '---' }} </li>
                    <li>Hora: {{ formatTime(order.transfer.arrival_time) || '---' }} </li>
                </ul></td>
                <td><ul>
                    <li>Vuelo: {{ order.transfer.departure_fly  || '---' }}</li>
                    <li>Fecha: {{ formatDate(order.transfer.departure_date) || '---' }} </li>
                    <li>Hora: {{ formatTime(order.transfer.departure_time) || '---' }} </li>
                </ul></td>
                <td>{{(order.client.name + ' ' + order.client.last_name) || "---" }}</td>
                <td>{{order.transfer.hotel || "---" }}</td>
                <td>{{order.transfer.airport || "---" }}</td>
                <td>{{order.transfer.type || "---" }}</td>
                <td>{{order.transfer.origin || "---" }}</td>
                <td>{{order.transfer.state || "---" }}</td>
                <td>{{order.transfer.payment_method || "---" }}</td>
                <td data-title="Fecha">{{formatDate(order.createdAt)}}</td>
                <td data-title="Total"><span  ng-bind="order.transfer.fee"></span></td>
                <% if (req.user.hasPermission(req.res.locals.selected_company.id,'orders_e')) {%>
                    <td data-title="Accion"><a href="/order/edit/{{order.id}}"><span class="table-icon fa fa-edit"></span></a></td>
                <% } %>
                <% if (req.user.hasPermission(req.res.locals.selected_company.id,'orders_d')) {%>
                    <td data-title="Accion"><a href="/order/edit/{{order.id}}"><span class="table-icon fa fa-trash-o"></span></a></td>
                <% } %>
            </tr>
        </table>
    </div>
	<div class="clearfix"></div>

</div>

    <div id="cargando-elementos" class="ng-cloak">
        <img src="/images/loaders/images-cm.gif">
    </div>
