<script type='text/javascript'>
	window.orders = <%- JSON.stringify(orders) %>;
    window.totalOrders = <%- JSON.stringify(totalOrders) %>;
	window.content = <%- JSON.stringify(_content) %>;
</script>
<div ng-controller='orderCTL' class='' >
	<div class='row'>
		<div class = "textbutton col-sm-12 col-md-12 col-xs-12">
			<p style="display:inline-block;"><a href="/order/neworder" class='btn btn-primary'><i class = "fa fa-plus"></i> <%= __('order-crear')%></a></p>
            <input type="text" placeholder="Buscar" class="form-control pull-right search" ng-model="searchText" />
			<br />
		</div>
	</div>
    <br>
    <div class='row pagination-row'>
        <!--<div class='col-md-4'>
            <span class='dropdown'>
                <a class="btn btn-primary" data-toggle="modal" data-target="#uploadCVS"><i class="fa fa-upload"></i> Importar CVS</a>
                <a dropdown-toggle class='btn btn-primary'><i class='fa fa-filter'></i> Filtros</a>
                <ul role='menu' class='dropdown-menu'>
                    <li ng-repeat="f in filtersArray">
                        <a ng-click="openFilter(f)" ng-class='!f.active?"inactive":""'>{{f.label}}</a>
                    </li>
                </ul>
            </span>
            <a ng-click='resetFilter()' class='btn btn-primary'><i class='fa fa-refresh'></i> Reset</a>
        </div>-->
        <div class='col-md-8'>
            <pagination total-items="totalOrders" items-per-page='10' ng-model="currentPage" max-size="8" class="pagination-sm pull-right" boundary-links="true" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-change="pageChanged()"></pagination>
        </div>
    </div>
    <br>
    <div class='row'><div class='col-md-12'>
	   <div class="widgetcontent custom-table nopadding ng-cloak">
        <table class="table table-striped">
            <tr class='hide-sm'>
                <th> <%= __('order-id')%> </th>
                <th> <%= __('order-usuario')%> </th>
                <!--<th> <%= __('order-empresa')%> </th>-->
                <th> <%= __('order-llegada')%> </th>
                <th> <%= __('order-salida')%> </th>
                <th> <%= __('order-cliente')%> </th>
                <th> <%= __('order-hotel')%> </th>
                <th> <%= __('order-aeropuerto')%> </th>
                <!--<th> <%= __('order-tipo')%> </th>
                <th> <%= __('order-origen')%> </th>-->
                <th> <%= __('order-estado')%> </th>
                <!--<th> <%= __('order-pago')%> </th>-->
                <th> <%= __('order-fecha')%> </th>
                <th> <%= __('order-total')%> </th>
                <th> <%= __('order-editar')%> </th>
                <% if (req.user.hasPermission(req.res.locals.selected_company.id,'orders_d')) {%>
                    <th> <%= __('order-borrar')%> </th>
                <% } %>
            </tr>
            <tr ng-repeat='order in orders | filter:searchText'>
                <td class='show-sm th'>
                    <a class='pull-right btn' ng-click="isHiden[$index]=!isHiden[$index]"><i class='fa fa-{{isHiden[$index]?"plus":"minus"}}'></i> {{isHiden[$index]?'Expandir':'Cerrar'}}</a>
                    <span>Reserva para <strong ng-bind='order.company.name'></strong>, 
                    creada por <strong ng-bind="order.user.name + ' ' + order.user.last_name"></strong>,
                    Para <strong ng-bind="order.client.name + ' ' + order.client.last_name"></strong>
                    </span>
                </td>
                <td ng-class='isHiden[$index]?"hide-row":""' data-title="<%= __('order-id')%>" ng-bind="order.id"></td>
                <td ng-class='isHiden[$index]?"hide-row":""' data-title="<%= __('order-usuario')%>" ng-bind="order.user.name + ' ' + order.user.last_name + ', ' + order.company.name"><</td>
                <!--<td ng-class='isHiden[$index]?"hide-row":""' data-title="<%= __('order-empresa')%>" ng-bind="order.company.name"></td>-->
                <td ng-class='isHiden[$index]?"hide-row":""' data-title='<%= __('order-llegada')%>'><ul>
                    <li>Vuelo: {{ order.transfer.arrival_fly  || '---' }}</li>
                    <li>Fecha: {{ formatDate(order.transfer.arrival_date) || '---' }} </li>
                    <li>Hora: {{ formatTime(order.transfer.arrival_time) || '---' }} </li>
                </ul></td>
                <td ng-class='isHiden[$index]?"hide-row":""' data-title='<%= __('order-salida')%>'><ul>
                    <li>Vuelo: {{ order.transfer.departure_fly  || '---' }}</li>
                    <li>Fecha: {{ formatDate(order.transfer.departure_date) || '---' }} </li>
                    <li>Hora: {{ formatTime(order.transfer.departure_time) || '---' }} </li>
                </ul></td>
                <td ng-class='isHiden[$index]?"hide-row":""' data-title='<%= __('order-cliente')%>'>{{(order.client.name + ' ' + order.client.last_name) || "---" }}</td>
                <td ng-class='isHiden[$index]?"hide-row":""' data-title='<%= __('order-hotel')%>'>{{order.transfer.hotel || "---" }}</td>
                <td ng-class='isHiden[$index]?"hide-row":""' data-title='<%= __('order-aeropuerto')%>'>{{order.transfer.airport || "---" }}</td>
                <td ng-class='isHiden[$index]?"hide-row":""' data-title='<%= __('order-tipo')%>'>
                    <ul>
                        <li><%= __('order-tipo')%>: {{order.transfer.type || "---" }}</li>
                        <li><%= __('order-origen')%>: {{order.transfer.origin || "---" }}</li>
                        <li><%= __('order-estado')%>: {{order.transfer.state || "---" }}</li>
                        <li><%= __('order-pago')%>: {{order.transfer.payment_method || "---" }}</li>
                    </ul>
                </td>
                <!--<td ng-class='isHiden[$index]?"hide-row":""' data-title='<%= __('order-origen')%>'>{{order.transfer.origin || "---" }}</td>
                <td ng-class='isHiden[$index]?"hide-row":""' data-title='<%= __('order-estado')%>'>{{order.transfer.state || "---" }}</td>
                <td ng-class='isHiden[$index]?"hide-row":""' data-title='<%= __('order-pago')%>'>{{order.transfer.payment_method || "---" }}</td>-->
                <td ng-class='isHiden[$index]?"hide-row":""' data-title="Fecha">{{formatDate(order.createdAt)}}</td>
                <td ng-class='isHiden[$index]?"hide-row":""' data-title="Total"><span  ng-bind="order.transfer.fee"></span></td>
                <% if (req.user.hasPermission(req.res.locals.selected_company.id,'orders_e')) {%>
                    <td ng-class='isHiden[$index]?"hide-row":""' data-title="Editar"><a href="/order/edit/{{order.id}}"><span class="table-icon fa fa-edit"></span></a></td>
                <% } %>
                <% if (req.user.hasPermission(req.res.locals.selected_company.id,'orders_d')) {%>
                    <td ng-class='isHiden[$index]?"hide-row":""' data-title="Cancelar"><a href="/order/edit/{{order.id}}"><span class="table-icon fa fa-trash-o"></span></a></td>
                <% } %>
            </tr>
        </table>
        </div>
    </div></div>
	<div class="clearfix"></div>
    <div class="modal fade" id="uploadCVS">
        <div class="modal-dialog">
            <div class="modal-content">
                <form class='form stdform stdform2'>
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title ng-binding">Importar CVS</h4>
                    </div>
                    <p>
                        <label>Seleccionar archivo</label>
                        <span class='field'>
                            <span 
                                ng-file-select="WFile($files,$event)" 
                                ng-model="file" 
                                multiple="false" 
                                accept=".csv"><a class='btn btn-primary'>Seleccionar archivo</a></span>
                                <span ng-bind='fileName'></span>
                        </span>
                    </p>
                    <!--<p>
                        <label>Arrastrar archivo</label>
                        <span class='field'>
                            <span ng-file-drop
                                  ng-model="file"
                                  class="drop-box field"
                                  drag-over-class="{accept:'dragover', reject:'dragover-err', delay:100}"
                                  accept="*.csv">
                                Drop csv file here
                            </span>
                            <span ng-no-file-drop class="field">No soportado por este navegador</span>
                        </span>
                    </p>-->
                    <p ng-if='loading' class='loader' >
                        <label>Cargando, favor de esperar <br>Loading , please wait this action can take alot of time to finish</label>
                        <span>
                            <span ng-bind='loadingProgress'></span>%
                            <img src='/images/loaders/images-cm.gif' />
                        </span>
                    </p>
                    <p class='results' ng-if='f.finish&&f.success' >
                        <label ng-if='f.success'>Archivo importado exitosamente</label>
                    </p>
                    <ul class='results errorslist' ng-if='f.finish&&!f.success' ng-if='f.finish'>
                        <li>Lista de folios que causaron error:</li>
                        <li ng-repeat="o in f.errors">
                            Folio: {{o.r.referencia}} , <span ng-repeat="err_ in o.err">{{$index>0?' | ':''}}{{err_}}</span></li>
                    </ul>
                    <p class="stdformbutton ng-scope">
                        <button ng-click="saveFile()" class="btn btn-primary" ng-disabled="form.$invalid || !fileName">Subir</button>
                    </p>
                </form>
            </div>
        </div>
    </div>

</div>

    <div id="cargando-elementos" class="ng-cloak">
        <img src="/images/loaders/images-cm.gif">
    </div>
