<div class='row-fluid'>
    <div class='span12 widgetbox'>
        <div class='headtitle'>
            <div class='btn-group'>
                <a class="btn btn-primary pull-right" ng-click="removeTH($index,'tour')"><i class='fa fa-times'></i> <%= __('order-eliminar')%></a>
                <a class="btn btn-primary pull-right" ng-click="setTheItemForContacts(item,'tour',$index)" data-toggle="modal" data-target="#myModal"><i class='fa fa-user'></i> Clientes</a>
            </div>
            <h4 class="widgettitle"><span><%= __('order-reservar-tour')%><span ng-bind="item.tour.name"></span></span></h4>
        </div>
        <div class='widgetcontent nopadding'>
            <p>
                <label><%= __('order-fecha')%></label>
                <span class='field'><span class='input-group calendar-container'>
                    <input ng-change="validateDates()" is-open="open[item.tour.id+$index]" ng-model='item.startDate' datepicker-popup required />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="open($event,item.tour.id+$index)"><i class="fa fa-calendar"></i></button>
                    </span>
                </span></span>
            </p>
            <p>
                <label><%= __('order-adultos')%></label>
                <span class='field'>
                    <select ng-change="updateTourPrice(item)" ng-options='obj for obj in [1,2,3,4,5,6,7,8,9,10]' ng-model='item.pax' required></select>
                    <a ng-if="transfer.contacts" ng-click="setTheItemForContacts(item,'tour',false)" data-toggle="modal" data-target="#myModal">Ver contactos</a>
                </span>
            </p>
            <p>
                <label><%= __('order-menores')%> Menores</label>
                <span class='field'><select ng-change="updateTourPrice(item)" ng-options='obj for obj in [0,1,2,3,4,5,6,7,8,9,10]' ng-model='item.kidPax' ></select></span>
            </p>
            <p>
                <label><%= __('order-hotel')%></label>
                <span class='field'>
                    <input type="text" class="form-control" 
                        placeholder="<%= __('order-hotel')%>"
                        ng-model="item.hotel" 
                        typeahead-editable='true'
                        typeahead="obj as obj.name for obj in getHotels($viewValue)" >
                </span>
            </p>
            <p>
                <label><%= __('order_room')%> </label>
                <span class='field'><input type='text' ng-model="item.room" name='room' /></span>
            </p>
            <p>
                <label>Lugar de salida del tour</label>
                <span class='field'>
                    <input type='text' ng-model='item.departurePlace' >
                </span>
            </p>
            <p>
                <label><%= __('order-hora-salida')%></label>
                <span class='field'>
                    <select ng-options="( obj.from + ' - ' + obj.to) for obj in item.tour.schedules" ng-model="item.departureTime" required></select>
                    <!--<timepicker ng-model="item.departureTime" hour-step="1" minute-step="1" show-meridian="ismeridian"></timepicker>-->
                </span>
            </p>
            <p>
                <label><%= __('order-precio')%></label>
                <span class='field'><input type='text' ng-model="item.fee"></span>
            </p>
            <p class='order-controls'>
                <a class='btn btn-primary' ng-click="validateItem(item,'tour',$index)">Guardar</a>
                <span class='clear'></span>
            </p>
        </div>
        <div ng-show='item.flag_priceupdated' class='centeralign'><div class='widgetcontent' >
            <p>En caso de que los precios hayan cambiado seleccionar el botón.</p>
            <span>
                <button type="button" class="btn btn-primary" ng-model="item.usePrice" btn-checkbox btn-checkbox-true="true" btn-checkbox-false="false">Usar precios nuevos</button>
            </span>
            <br><br>
            <p>En caso de que los tipos de cambio hayan cambiado seleccionar el botón.</p>
            <span>
                <button type="button" class="btn btn-primary" ng-model="item.useER" btn-checkbox btn-checkbox-true="true" btn-checkbox-false="false">Usar Tipo de cambio nuevo</button>
            </span>
        </div></div>
    </div>
</div>