    <!--<h4 class="widgettitle"><%= __('order-info')%></h4>-->
<p class='inlineMessage'>
    Si necesitas algún pediddo especial favor de comunicarte al área de reservaciones al siguiente número gratuito: 01 800 227 42 36
</p>
    <p>
        <label><%= __('order-hotel')%> </label>
        <span class='field'>
            <input type="text" class="form-control" 
                placeholder="<%= __('order-hotel')%>"
                ng-model="transfer.hotel" 
                typeahead-editable='true'
                typeahead="obj as obj.name for obj in getHotels($viewValue)" 
                typeahead-on-select="getAirports()" >
        </span>
    </p>
    <p>
        <label><%= __('order_room')%> </label>
        <span class='field'><input type='text' ng-model="transfer.room" name='room' /></span>
    </p>
    <p>
        <label><%= __('order-aeropuerto')%> </label>
        <span class='field'><select ng-change='updatePriceTransfer()' ng-options='obj as obj.name for obj in airports track by obj.id' ng-model='transfer.airport' ></select></span>
    </p>
    <p>
        <label>Tipo de traslado </label>
        <span class='field'><select ng-change='updatePriceTransfer()' ng-options='obj as obj.transfer.name for obj in transfers track by obj.id' ng-model='transfer.transferprice' ></select></span>
    </p>
    <h4 class="widgettitle"><%= __('order-info')%></h4>
    <p>
        <label>Número de personas</label>
        <span class='field'>
            <select ng-change="updatePriceTransfer()" ng-options='obj for obj in pax' ng-model='transfer.pax' ></select>
            <a ng-if="transfer.contacts" ng-click="setTheItemForContacts(transfer,'transfer',false)" data-toggle="modal" data-target="#myModal" >Ver contactos</a>
        </span>
    </p>
    <p>
        <label><%= __('order-origen')%> </label>
        <span class='field'>
            <span class="radio">
                <input ng-change='updateDatesFormat()' ng-model="transfer.origin" type="radio" name="origin" value="hotel" checked><%= __('order-hotel')%> 
            </span>
            <span class="radio">
                <input ng-change='updateDatesFormat()' ng-model="transfer.origin" type="radio" name="origin" value="airport"><%= __('order-aeropuerto')%>
            </span>
        </span>
    </p>
    <p>
        <label><%= __('order-tipo-viaje')%> </label>
        <span class='field'>
            <span class="radio">
                <input ng-change='updatePriceTransfer()' ng-model="transfer.type" type="radio" name="transtype" value="round_trip"><%= __('order-round')%>
            </span>
            <span class="radio">
                <input ng-change='updatePriceTransfer()' ng-model="transfer.type" type="radio" name="transtype" value="one_way" checked><%= __('order-one')%>
            </span>
        </span>
    </p>
    <p>
        <label><%= __('order-tarifa')%> </label>
        <span class='field'><span ng-bind="transfer.fee"></span></span>
    </p>
    <div ng-show="flag_priceupdated" class='centeralign'><div class='widgetcontent' >
        <p>Nota: Si no se selecciona y las zonas cambian entonces por default se actualizarán los precios.</p>
        <span>
            <button type="button" class="btn btn-primary" ng-model="transfer.usePrice" btn-checkbox btn-checkbox-true="true" btn-checkbox-false="false">Usar precios nuevos</button>
        </span>
        <br><br>
        <p>Usar el tipo de cambio actual (en caso de que haya cambiado).</p>
        <span>
            <button type="button" class="btn btn-primary" ng-model="transfer.useER" btn-checkbox btn-checkbox-true="true" btn-checkbox-false="false">Usar Tipo de cambio nuevo</button>
        </span>
    </div></div>
    <!-- Info vuelo de llegada -->
    <div class='dtfa-container {{dtfa[0]?"":"disabled"}}'>
        <h4 class="widgettitle"><%= __('order-vuelof-llegada')%></h4>
        <p>
            <label><%= __('order-llegada')%></label>
            <span class='field'>
                <span class='input-group calendar-container'>
                    <input is-open="open[0]" ng-model='transfer.arrival_date' datepicker-popup ng-change="getpickuptime()" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="open($event,0)"><i class="fa fa-calendar"></i></button>
                    </span>
                </span>
            </span>
        </p>
        <!--<p>
            <label><%= __('order_a_airline')%> </label>
            <span class='field'><input ng-model="transfer.arrival_airline" type='text' name='arrival_airline' /></span>
        </p>-->
        <p>
            <label><%= __('order_a_airline')%> </label>
            <span class='field'>
                <input type="text" class="form-control" 
                    placeholder="<%= __('order_a_airline')%>"
                    ng-model="transfer.arrival_airline" 
                    name="arrival_airline"
                    typeahead-editable='true'
                    typeahead="obj as obj.name for obj in getAirlines($viewValue)" >
            </span>
        </p>
        <p>
            <label><%= __('order-vuelo-llegada')%></label>
            <span class='field'><input ng-model="transfer.arrival_fly" type='text' name='arrival_fly' /></span>
        </p>
        <p>
            <label><%= __('order-hora')%></label>
            <span class='field'><timepicker ng-model="transfer.arrival_time" ng-change="" hour-step="1" minute-step="1" show-meridian="ismeridian"></timepicker></span>
        </p>
        <p>
            <label><%= __('order-pickup')%></label>
            <span class='field'><timepicker ng-model="transfer.arrivalpickup_time" ng-change="getpickuptime()" hour-step="1" minute-step="1" show-meridian="ismeridian"></timepicker></span>
        </p>
    </div>
    <!-- Info vuelo de salida -->
    <div class='dtfa-container {{dtfa[1]?"":"disabled"}}'>
        <h4 class="widgettitle"><%= __('order-vuelof-salida')%></h4>
        <p>
            <label><%= __('order-fecha-salida')%></label>
            <span class='field'>
                <span class='input-group calendar-container'>
                    <input is-open="open[1]" ng-model='transfer.departure_date' datepicker-popup ng-change="getpickuptime()" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="open($event,1)"><i class="fa fa-calendar"></i></button>
                    </span>
                </span>
            </span>
        </p>
        <!--<p>
            <label><%= __('order_d_airline')%> </label>
            <span class='field'><input ng-model="transfer.departure_airline" type='text' name='departure_airline' /></span>
        </p>-->
        <p>
            <label><%= __('order_d_airline')%> </label>
            <span class='field'>
                <input type="text" class="form-control" 
                    placeholder="<%= __('order_d_airline')%>"
                    ng-model="transfer.departure_airline" 
                    name="departure_airline"
                    typeahead-editable='true'
                    typeahead="obj as obj.name for obj in getAirlines($viewValue)" >
            </span>
        </p>
        <p>
            <label><%= __('order-vuelo-salida')%></label>
            <span class='field'><input ng-model="transfer.departure_fly" type='text' name='departure_fly' /></span>
        </p>
        <p>
            <label><%= __('order-hora-salida')%></label>
            <span class='field'><timepicker ng-model="transfer.departure_time" ng-change="getpickuptime()" hour-step="1" minute-step="1" show-meridian="ismeridian"></timepicker></span>
        </p>
        <p>
            <label> <%= __('order-pickup')%></label>
            <span class='field'><timepicker ng-model="transfer.departurepickup_time" ng-change="" hour-step="1" minute-step="1" show-meridian="ismeridian"></timepicker></span>
        </p>
    </div>
    <h4 class="widgettitle">Notas</h4>
    <p><textarea ng-model="transfer.notes"></textarea></p>