<script type='text/javascript'>
    window.content = <%- JSON.stringify(_content) %>;
	window.interactions = <%- JSON.stringify(interactions) %>;
</script>
<div ng-controller='orderNewCTL' class='ng-cloak'>
    <div class='row'>
        <div class='col-sm-12 col-md-6 col-lg-6'>
            <label class='outerLabel'>Agencia: </label>
            <select class='outerSelect' ng-change="getAllTours()" ng-model='thecompany' ng-options="obj as obj.name for obj in companies" ></select>
        </div>
        <div class='col-sm-12 col-md-6 col-lg-6'>
            <a class="btn btn-primary pull-right full-sm" ng-click="saveAll()"><i class='fa fa-save'></i> <%= __('order-reservar')%> </a>
            <a class='btn btn-primary pull-right full-sm' ng-click="resetForm(false)" ><i class='fa fa-eraser'></i> Limpiar campos</a>
            <div class='clear'></div>
        </div>
    </div><br>
    <div class='row'>
        <div class='col-md-8'>
        	<div class='row stdform stdform2'>
                <div class='col-md-12'><div class="widgetbox personal-information">
                    <div class='headtitle'>
                        <div class='btn-group'>
                            <a class="btn btn-primary pull-right" ng-click="resetForm('client')"><i class='fa fa-eraser'></i></a>
                            <a class="btn btn-primary pull-right" ng-hide="!client.id"><i class='fa fa-{{client.id?"check":"circle-thin"}}'></i></a>
                            <a class='btn btn-primary pull-right' ng-click="searchClient = !searchClient"><i class='fa fa-search'></i></a>
                        </div>
                        <a class='expand' ng-click="setSteps('',1)"><h4 class="widgettitle"><i class='fa fa-user'></i> <%= __('order-cliente')%></h4></a>
                    </div>
                    <div class='widgetcontent nopadding'><div uib-collapse="!(steps==1?true:false)">
                        <!--<p class='order-controls'>
                            <span><a class='' ng-click="searchClient = !searchClient"><i class='fa fa-search'></i> Buscar existente</a></span>
                            <span><a class='' data-toggle="modal" data-target="#myModal"><i class='fa fa-plus'></i>  <%= __('order-nuevo-cliente')%></a></span>
                        </p>-->
                        <div ng-show="searchClient"><p>
                            <label><%= __('order-selecc')%></label>
                            <span class='field'>
                                <!--<select chosen ng-options='obj as obj.name for obj in clients_' ng-model='client' ></select>-->
                                <input type="text" class="form-control" 
                                placeholder="<%= __('order-selecc')%>"
                                ng-model="client" 
                                typeahead-editable='true'
                                typeahead-on-select="client_flag = true"
                                typeahead="obj as obj.name for obj in getClients($viewValue)" >
                            </span>
                        </p></div>
                        <form class='form stdform stdform2 nopadding'>
                            <p>
                                <label>Nombre completo*</label>
                                <span class='field'><input type='text' name="name" ng-model="client.name" ng-required="true"></span>
                            </p>
                            <p>
                                <label>Teléfono*</label>
                                <span class='field'><input type='text' name="phone" ng-model="client.phone" ng-required="true"></span>
                            </p>
                            <p>
                                <label>E-mail*</label>
                                <span class='field'><input type='text' name="email" ng-model="client.email" ng-required="true"></span>
                            </p>
                        </form>
                        <p class='order-controls'>
                            <a class='btn btn-primary secondary pull-right' ng-click="createUpdateClient()" ng-bind="client_flag?'Actualizar':'Crear'"></a>
                            <span class='clear'></span>
                        </p>
                        <h4 class='widgettitle'>Datos adicionales de contacto</h4>
                        <form class='form stdform stdform2 nopadding'>
                            <p>
                                <label>Hotel de alojamiento</label>
                                <span class='field'>
                                    <input type="text" class="form-control" 
                                        placeholder="<%= __('order-hotel')%>"
                                        ng-model="generalFields.hotel"
                                        typeahead-editable='true'
                                        typeahead="obj as obj.name for obj in getHotels($viewValue)" >
                                </span>
                            </p>
                            <p>
                                <label>Número de cuarto de hotel</label>
                                <span class='field'>
                                    <input type='text' ng-model="generalFields.hotelroom" />
                                </span>
                            </p>
                            <p>
                                <label>Fecha de llegada</label>
                                <span class='field'>
                                    <span class='input-group calendar-container'><input is-open="open[2]" ng-model='generalFields.arrival_date' id="arrival-date" datepicker-popup/>
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="open($event,2)"><i class="fa fa-calendar"></i></button>
                                    </span></span>
                                </span>
                            </p>
                            <p>
                                <label>Vuelo de llegada</label>
                                <span class='field'>
                                    <input type='text' ng-model="generalFields.arrival_fly" />
                                </span>
                            </p>
                        </form>
                        <!--<p>
                            <label><%= __('order_userClient') %></label>
                            <span class='field'><input type='checkbox' ng-model='USClient' ></span>
                        </p>-->
                        <p class='order-controls'>
                            <a class='btn btn-primary secondary pull-right' ng-click="setSteps('next',false)" >Siguiente</a>
                            <span class='clear'></span>
                        </p>
                    </div></div>
                </div></div>
            </div>
            <!-- Hotel section -->
            <div class='row'>
                <form class='stdform col-md-12' action='' name='' method='post'>
                    <div class='headtitle'>
                        <div class='btn-group'>
                            <a class="btn btn-primary pull-right" ng-click="resetForm('hotel')"><i class='fa fa-eraser'></i></a>
                            <a class="btn btn-primary pull-right" ng-hide="!(reservations.hotels.length&&reservations.hotels[0].fee)"><i class='fa fa-check'></i></a>
                            <a class="btn btn-primary pull-right" ng-hide="!collapseList.hotel" ng-click="collapseList.hotel=!collapseList.hotel"><i class='fa fa-plus'></i></a>
                        </div>
                        <a class='expand' ng-click="setSteps('',2)"><h4 class="widgettitle"><i class='fa fa-building'></i> <%= __('order-reservar-hotel')%></h4></a>
                    </div>
                    <div uib-collapse="!(steps==2?true:false)">
                        <div class='row'>
                            <div class='col-md-12 peoplelist orderTourList'><div uib-collapse="collapseList.hotel">
                                <input type="text" class="form-control" 
                                        placeholder="Buscar Hoteles"
                                        ng-model="searchHotels"
                                        ng-change="getAllHotels()" >
                                <div class='peopleinfo'><ul>
                                    <li ng-repeat="t in allHotels.results">
                                        <div class='thumb'>
                                            <img ng-if='t.icon' ng-src="/uploads/hotels/50x50{{t.icon.filename}}">
                                            <img ng-if='!t.icon' ng-src="http://placehold.it/50x50">
                                        </div>
                                        <div class='info'>
                                            <p><strong><a ng-bind="t.name"></a></strong>, adultos desde $<span ng-bind="getMinPrice(t,'adult')"></span> , niños desde $<span ng-bind="getMinPrice(t,'child')"></span></p>
                                            <p>{{t.description_es | limitTo : 180}}</p>
                                        </div>
                                        <div class='pull-right actions'>
                                            <a ng-click="addTH('hotel',t)"><i class='fa fa-plus'></i> Agregar</a>
                                            <a ng-click="openTH('hotel',t)" data-toggle="modal" data-target="#myModal2"><i class='fa fa-eye'></i> Ver más</a>
                                        </div>
                                        <div class='clear'></div>
                                    </li>
                                </ul></div>
                                <div><pagination total-items="allHotels.count" ng-model="hotelsCurrentPage" max-size="7" class="pagination-sm" items-per-page='5' ng-change="getAllHotels()"></pagination></div>
                                <!--<p>
                                    <input type="text" class="form-control" 
                                        placeholder="Tours"
                                        ng-model="addedTour" 
                                        typeahead-editable='true'
                                        typeahead="obj as ( thecompany.adminCompany?obj.name:obj.tour.name ) for obj in getTours($viewValue)" >
                                </p>-->
                            </div></div>
                        </div><br >
                        <div class='isCHotelContainer'>
                            <div class='stdform2' ng-repeat='item in reservations.hotels' ng-hide="item.saved">
                                <%- partial('inputsHotel') -%> 
                            </div>
                            <div ng-hide="reservations.hotels.length==0" class="peoplelist orderTourList"><div class='peopleinfo'><ul>
                                <li>Tours agregados a la reserva</li>
                                <li ng-repeat='item in reservations.hotels'>
                                    <div class='thumb'>
                                        <img ng-if='item.hotel.icon' ng-src="/uploads/hotels/50x50{{item.hotel.icon.filename}}">
                                        <img ng-if='!item.hotel.icon' ng-src="http://placehold.it/50x50">
                                    </div>
                                    <div class='info'>
                                        <p><span ng-bind="item.hotel.name"></span></p>
                                        <p><span ng-if="item.pax">{{item.pax}} adultos</span> </p>
                                        <p><span ng-if="item.kidPax">{{item.kidPax}} menores</span> </p>
                                        <p>Total: $<span ng-bind="item.fee"></span></p>
                                    </div>
                                    <span class='pull-right actions' ng-hide="!item.saved">
                                        <a ng-click="item.saved=false;" ><i class='fa fa-pencil'></i> Editar</a>
                                        <a ng-click="removeTH($index,'hotel')" ><i class='fa fa-times'></i> Eliminar</a>
                                    </span>
                                    <div class='clear'></div>
                                </li>
                            </ul></div></div>
                        </div>
                        <div class='headtitle'>
                            <a ng-click="setSteps('next',false)" class='btn btn-primary secondary pull-right' >Siguiente</a>
                            <a ng-click="reservations.hotels=[];setSteps('next',false)" class='btn btn-primary secondary pull-right' >Omitir</a>
                            <a ng-hide="" ng-click="setSteps('prev',false)" class='btn btn-primary secondary pull-right' >Anterior</a>
                            <span class='clear'></span>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </form>
            </div>
            <!-- Tours section -->
            <div class='row'>
                <form class='stdform col-md-12' action='' name='tours' method='post'>
                    <div class='headtitle'>
                        <div class='btn-group'>
                            <a class="btn btn-primary pull-right" ng-click="resetForm('tour')"><i class='fa fa-eraser'></i></a>
                            <a class="btn btn-primary pull-right" ng-hide="!(reservations.tours.length&&reservations.tours[0].fee)"><i class='fa fa-check'></i></a>
                            <a class="btn btn-primary pull-right" ng-hide="!collapseList.tour" ng-click="collapseList.tour=!collapseList.tour"><i class='fa fa-plus'></i></a>
                        </div>
                        <a class='expand' ng-click="setSteps('',3)"><h4 class="widgettitle"><i class='fa fa-compass'></i> <%= __('order-reservar-tour')%></h4></a>
                    </div>
                    <div uib-collapse="!(steps==3?true:false)">
                        <div class='row'>
                            <div class='col-md-12 peoplelist orderTourList'><div uib-collapse="collapseList.tour">
                                <input type="text" class="form-control" 
                                        placeholder="Buscar Tours"
                                        ng-model="searchTours"
                                        ng-change="getAllTours()" >
                                <div class='peopleinfo'><ul>
                                    <li ng-repeat="t in allTours.results">
                                        <div class='thumb'>
                                            <img ng-if='t.icon' ng-src="/uploads/tours/50x50{{t.icon.filename}}">
                                            <img ng-if='!t.icon' ng-src="http://placehold.it/50x50">
                                        </div>
                                        <div class='info'>
                                            <p><strong><a ng-bind="t.name"></a></strong>, adultos $<span ng-bind="t.fee"></span> , niños $<span ng-bind="t.feeChild"></span></p>
                                            <p>Proveedor: <span ng-bind="t.provider.name"></span></p>
                                            <p>{{t.description_es | limitTo : 180}}</p>
                                        </div>
                                        <div class='pull-right actions'>
                                            <a ng-click="addTH('tour',t)"><i class='fa fa-plus'></i> Agregar</a>
                                            <a ng-click="openTH('tour',t)" data-toggle="modal" data-target="#myModal2"><i class='fa fa-eye'></i> Ver más</a>
                                        </div>
                                        <div class='clear'></div>
                                    </li>
                                </ul></div>
                                <div><pagination total-items="allTours.count" ng-model="toursCurrentPage" max-size="7" class="pagination-sm" items-per-page='5' ng-change="getAllTours()"></pagination></div>
                                <!--<p>
                                    <input type="text" class="form-control" 
                                        placeholder="Tours"
                                        ng-model="addedTour" 
                                        typeahead-editable='true'
                                        typeahead="obj as ( thecompany.adminCompany?obj.name:obj.tour.name ) for obj in getTours($viewValue)" >
                                </p>-->
                            </div></div>
                        </div><br >
                        <div class='isCtourContainer'>
                            <div class='stdform2' ng-repeat='item in reservations.tours' ng-hide="item.saved">
                                <%- partial('inputsTour') -%> 
                            </div>
                            <div ng-hide="reservations.tours.length==0" class="peoplelist orderTourList"><div class='peopleinfo'><ul>
                                <li>Tours agregados a la reserva</li>
                                <li ng-repeat='item in reservations.tours'>
                                    <div class='thumb'>
                                        <img ng-if='item.tour.icon' ng-src="/uploads/tours/50x50{{item.tour.icon.filename}}">
                                        <img ng-if='!item.tour.icon' ng-src="http://placehold.it/50x50">
                                    </div>
                                    <div class='info'>
                                        <p><span ng-bind="item.tour.name"></span></p>
                                        <p><span ng-if="item.pax">{{item.pax}} adultos</span> </p>
                                        <p><span ng-if="item.kidPax">{{item.kidPax}} menores</span> </p>
                                        <p>Total: $<span ng-bind="item.fee"></span></p>
                                    </div>
                                    <span class='pull-right actions' ng-hide="!item.saved">
                                        <a ng-click="item.saved=false;" ><i class='fa fa-pencil'></i> Editar</a>
                                        <a ng-click="removeTH($index,'tour')" ><i class='fa fa-times'></i> Eliminar</a>
                                    </span>
                                    <div class='clear'></div>
                                </li>
                            </ul></div></div>
                        </div>
                        <div class='stdform2 headtitle'>
                            <a ng-click="setSteps('next',false)" class='btn btn-primary secondary pull-right' >Siguiente</a>
                            <a ng-click="reservations.tours=[];setSteps('next',false)" class='btn btn-primary secondary pull-right' >Omitir</a>
                            <a ng-click="setSteps('prev',false)" class='btn btn-primary secondary pull-right' >Anterior</a>
                            <span class='clear'></span>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </form>
            </div>
            <!-- Transfer section -->
            <div class='row'>
                <form class='stdform stdform2 col-md-12 widgetbox' action='' name='' method='post'>
                    <div class='headtitle'>
                        <div class='btn-group'>
                            <a class="btn btn-primary pull-right" ng-click="resetForm('transfer')"><i class='fa fa-eraser'></i></a>
                            <a class="btn btn-primary pull-right" ng-hide="!transfer.fee"><i class='fa fa-{{transfer.fee?"check":"circle-thin"}}'></i></a>
                            <a class="btn btn-primary pull-right" ng-click="setTheItemForContacts(transfer,'transfer',false)" data-toggle="modal" data-target="#myModal"><i class='fa fa-user'></i> Clientes</a>
                        </div>
                        <a class='expand' ng-click="setSteps('',4)"><h4 class="widgettitle"><i class='fa fa-car'></i> <%= __('order-reservar-tras')%></h4></a>
                    </div>
                    <div class='widgetcontent nopadding'><div class='collapseCustom' uib-collapse="!(steps==4?true:false)">
                        <%- partial('inputsTransfer') -%> 
                    </div></div>
                    <div class="clearfix"></div>
                </form>
            </div>
            <div class='row'>
                <div class='col-md-12 widgetbox'>
                    <h4 class="widgettitle">Información de pago</h4>
                    <div class="widgetcontent stdform stdform2 nopadding">
                        <p>
                            <label><%= __('order-estado')%></label>
                            <span class='field'><select ng-options='obj as obj.name for obj in hrevState' ng-model='generalFields.state' ></select></span>
                        </p>
                        <p>
                            <label><%= __('order-pago')%></label>
                            <span class='field'><select ng-options='obj as obj.name for obj in hrevPayment' ng-model='generalFields.payment_method' ></select></span>
                        </p>
                        <p ng-show="generalFields.payment_method.handle=='creditcard'">
                            <label><%= __('order-autorizacion')%></label>
                            <span class='field'><input type='text' name='autorization_code' ng-model="generalFields.autorization_code" /></span>
                        </p>
                        <p>
                            <label>Moneda</label>
                            <span class='field'>
                                <select ng-options="c as c.name for c in thecompany.currencies" name='currency' ng-model='generalFields.currency' ng-change='updatePriceTransfer()' ></select>
                            </span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class='col-md-4'>
            <%- partial('partial/order_resume') -%> 
        </div>
    </div><!-- Termina row reservas y columna de precios -->
    <div class='row'>
        <div class='col-md-12'>
            <a class="btn btn-primary btn-big pull-right full-sm" ng-click="saveAll()"><i class='fa fa-save'></i> <%= __('order-reservar')%> </a>
            <a class='btn btn-primary btn-big pull-right full-sm' ng-click="resetForm(false)" ><i class='fa fa-eraser'></i> Limpiar campos</a>
        </div>
    </div>
    <div class="modal fade" id="myModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <%- partial('partial/contacts_modal') -%> 
            </div>
        </div>
    </div>
    <div class="modal fade" id="myModal2">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class='custom-layout layout-flex'>
                    <div class='custom-flex flex3 lateral-container'>
                        <h3 class='uppercase' ng-hide="!theIFC.includes"><span class='fa fa-check'></span> Incluye</h3>
                        <ul ng-hide="!theIFC.includes">
                            <li ng-repeat="item in theIFC.includes" ng-bind="item"></li>
                        </ul>
                        <h3 class='uppercase' ng-hide="!theIFC.noincludes"><span class='fa fa-times'></span> No incluye</h3>
                        <ul ng-hide="!theIFC.noincludes">
                            <li ng-repeat="item in theIFC.noincludes" ng-bind="item"></li>
                        </ul>
                        <h3 class='uppercase' ng-hide="!theIFC.services"><span class='fa fa-check'></span> Servicios</h3>
                        <ul ng-hide="!theIFC.services">
                            <li ng-repeat="item in theIFC.services" ng-bind="item"></li>
                        </ul>
                        <h3 class='uppercase' ng-hide="!theIFC.payed_services"><span class='fa fa-money'></span> Servicios con costo</h3>
                        <ul ng-hide="!theIFC.payed_services">
                            <li ng-repeat="item in theIFC.payed_services" ng-bind="item"></li>
                        </ul>
                        <h3 class='uppercase' ng-hide="!theIFC.duration"><span class='fa fa-clock-o'></span> Duración</h3>
                        <ul ng-hide="!theIFC.duration"><li ng-bind="theIFC.duration"></li></ul>
                    </div>
                    <div class='custom-flex flex7 principal-container'>
                        <img ng-if="theIFC.icon" ng-src="/uploads/{{theIFC.folder}}/593x331{{theIFC.icon.filename}}">
                        <div class='text-container'>
                            <h2 ng-bind="theIFC.name"></h2>
                            <p ng-repeat="item in theIFC.description track by $index" ng-bind="item"></p>
                            <br>
                            <div ng-hide="!theIFC.rooms">
                                <h2>Cuartos</h2>
                                <ul>
                                    <li ng-repeat="room in theIFC.rooms">
                                        <img ng-if="room.icon" ng-src="/uploads/rooms/80x80{{room.icon.filename}}">
                                        <img ng-if="!room.icon" ng-src="http://placehold.it/60x60">
                                        <p><strong ng-bind="room.name_es"></strong></p>
                                        <p>Hasta <span ng-bind="room.pax"></span> personas. Desde $ <span ng-bind="room.fee"></span> (adultos), $<span ng-bind="room.feeChild"></span> (menores). </p>
                                        <p ng-repeat='desc in room.description' ng-bind="desc"></p>
                                        <div class='clear'></div>
                                    </li>
                                </ul>
                            </div>
                            <h3 ng-hide="!theIFC.recommendations"><span class='fa fa-thumbs-up'></span>Recomendaciones</h3>
                            <ul ng-hide="!theIFC.recommendations">
                                <li ng-repeat="item in theIFC.recommendations" ng-bind="item"></li>
                            </ul>
                            <br>
                            <p>
                                <a class='btn btn-primary' ng-click="addTH(theIFC.type,theIFC)" data-dismiss="modal" aria-hidden="true">Reservar</a>
                                <button type='reset' class='btn reset' data-dismiss="modal" aria-hidden="true">Cerrar</button>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id='popup_overlay' class='ng-hide ng-cloak' ng-hide="!alertM.show&&!alertMessage.show"></div>
    <div id='popup_container' class='alert-warning ng-hide ng-cloak' ng-class="alertMessage.classType" ng-hide="!alertM.show&&!alertMessage.show">
        <h1 id="popup_title">{{alertMessage.title || 'Error en la orden'}}</h1>
        <div id="popup_content" class="alert" ng-show="alertMessage.show" >
            <div id="popup_message" ng-bind="alertMessage.message"></div>
            <div id="popup_panel">
                <a ng-repeat="b in alertMessage.buttons" ng-click="b.action()" id="" class='btn btn-primary' ng-bind="b.label"></a>
            </div>
        </div>
        <div id="popup_content" class="alert" ng-show="alertM.show&&alertM.client">
            <div id="popup_message"><%= __('order_errC') %></div>
            <div id="popup_panel"><a ng-click="alertM.show=false;alertM.client=false;" id="popup_ok" style="display: block;width: 150px;margin: 0 auto;">OK</a></div>
        </div>
        <div id="popup_content" class="alert" ng-show="alertM.show&&alertM.allEmpty">
            <div id="popup_message"><%= __('order_errA') %></div>
            <div id="popup_panel"><a ng-click="alertM.show=false;alertM.allEmpty=false;" id="popup_ok" style="display: block;width: 150px;margin: 0 auto;">OK</a></div>
        </div>
        <div id="popup_content" class="alert" ng-show="alertM.show&&alertM.date">
            <div id="popup_message"><%= __('order_errDate') %></div>
            <div id="popup_panel"><a ng-click="alertM.show=false;alertM.date=false;" id="popup_ok" style="display: block;width: 150px;margin: 0 auto;">OK</a></div>
        </div>
    </div>
    <div custom-message messages="customMessages"></div>
</div>
<div id="cargando-elementos" class="ng-cloak">
    <img src="/images/loaders/images-cm.gif">
</div>