<script type='text/javascript'>
    window.clients_ = <%- JSON.stringify(clients_) %>;
    window.hotels = <%- JSON.stringify(hotels) %>;
    window.transfers = <%- JSON.stringify(transfers) %>;
    window.allTours = <%- JSON.stringify(allTours) %>;
	window.content = <%- JSON.stringify(_content) %>;
</script>
<div ng-controller='orderNewCTL' >
    <div class='row'>
        <div class='col-sm-12 col-md-6 col-lg-6'>
            <label class='outerLabel'>Agencia: </label>
            <select class='outerSelect' ng-model='thecompany' ng-options="obj as obj.name for obj in companies" ></select>
        </div>
        <div class='col-sm-12 col-md-6 col-lg-6'>
            <a class="btn btn-primary pull-right full-sm" ng-click="saveAll()"><i class='fa fa-save'></i> <%= __('order-reservar')%> </a>
            <a class='btn btn-primary pull-right full-sm' ng-click="resetForm()" ><i class='fa fa-eraser'></i> Limpiar campos</a>
            <div class='clear'></div>
        </div>
    </div><br>
    <div class='row'>
        <div class='col-md-8'>
        	<div class='row stdform stdform2'>
                <div class='col-md-12'><div class="widgetbox personal-information">
                    <div class='headtitle'>
                        <div class='btn-group'>
                            <a class="btn btn-primary pull-right" ng-click="setSteps('next',false)"><i class='fa fa-arrow-right'></i></a>
                            <a class="btn btn-primary pull-right" ng-click="setSteps('',1)"><i class='fa fa-circle-thin'></i></a>
                        </div>
                        <h4 class="widgettitle"><%= __('order-cliente')%></h4>
                    </div>
                    <div class='widgetcontent nopadding'><div collapse="!(steps==1?true:false)">
                        <p class='order-controls'>
                            <span><a class='' ng-click="searchClient = !searchClient"><i class='fa fa-search'></i> Buscar existente</a></span>
                            <span><a class='' data-toggle="modal" data-target="#myModal"><i class='fa fa-plus'></i>  <%= __('order-nuevo-cliente')%></a></span>
                        </p>
                        <div ng-show="searchClient"><p>
                            <label><%= __('order-selecc')%></label>
                            <span class='field'>
                                <!--<select chosen ng-options='obj as obj.name for obj in clients_' ng-model='client' ></select>-->
                                <input type="text" class="form-control" 
                                placeholder="<%= __('order-selecc')%>"
                                ng-model="client" 
                                typeahead-editable='true'
                                typeahead="obj as obj.name for obj in getClients($viewValue)" >
                            </span>
                        </p></div>
                        <!--<p>
                            <label><%= __('order_userClient') %></label>
                            <span class='field'><input type='checkbox' ng-model='USClient' ></span>
                        </p>-->
                        <div class='InfoContainer' ng-hide="!client">
                            <p><strong>Nombre</strong> : <span ng-bind="client.name"></span></p>
                            <p><strong>Correo</strong> : <span ng-bind="client.email"></span></p>
                            <p><strong>Teléfono</strong> : <span ng-bind="client.phone"></span></p>
                        </div>
                        <p class='order-controls'>
                            <a ng-click="setSteps('next',false)" class='btn btn-primary' >Siguiente</a>
                        </p>
                    </div></div>
                </div></div>
                <!--<div class='col-md-6' ng-hide='USClient'>
                    <div class='headtitle'>
                        <div class='btn-group'><a ng-click="saveContact()" class="btn btn-primary pull-right"><i class='fa fa-save'></i> <%= __('order_create') %></a></div>
                        <h4 class="widgettitle"><%= __('order_createContact') %></h4>
                    </div>
                    <div class='widgetcontent nopadding'>
                        <p>
                            <label><%= __('order_name') %></label>
                            <span class='field'><input type='text' ng-model="contact.name"></span>
                        </p>
                        <p>
                            <label><%= __('order_mail') %></label>
                            <span class='field'><input type='text' ng-model="contact.email"></span>
                        </p>
                        <p>
                            <label><%= __('order_phone') %></label>
                            <span class='field'><input type='text' ng-model="contact.phone"></span>
                        </p>
                    </div>
                </div>-->
            </div>
            <!-- Transfer section -->
            <div class='row'>
                <form class='stdform stdform2 col-md-12' action='' name='' method='post'>
                    <div class='headtitle'>
                        <div class='btn-group'>
                            <a class="btn btn-primary pull-right" ng-click="setSteps('next',false)"><i class='fa fa-arrow-right'></i></a>
                            <a class="btn btn-primary pull-right" ng-click="setSteps('',2)"><i class='fa fa-circle-thin'></i></a>
                            <a class="btn btn-primary pull-right" ng-click="setSteps('prev',false)"><i class='fa fa-arrow-left'></i></a>
                            <!--<a class="btn btn-primary pull-right" ng-click="saveAll()"><i class='fa fa-save'></i> <%= __('order-reservar')%> </a>-->
                        </div>
                        <h4 class="widgettitle"><%= __('order-reservar-tras')%> </h4>
                    </div>
                    <div collapse="!(steps==2?true:false)">
                        <%- partial('inputsTransfer') -%> 
                    </div>
                	<div class="clearfix"></div>
                </form>
            </div>
            <!-- Tours section -->
            <div class='row'>
                <form class='stdform stdform2 col-md-12' action='' name='tours' method='post'>
                    <div class='headtitle'>
                        <div class='btn-group'>
                            <a class="btn btn-primary pull-right" ng-click="setSteps('next',false)"><i class='fa fa-arrow-right'></i></a>
                            <a class="btn btn-primary pull-right" ng-click="setSteps('',3)"><i class='fa fa-circle-thin'></i></a>
                            <a class="btn btn-primary pull-right" ng-click="setSteps('prev',false)"><i class='fa fa-arrow-left'></i></a>
                        </div>
                        <h4 class="widgettitle"><%= __('order-reservar-tour')%></h4>
                    </div>
                    <div collapse="!(steps==3?true:false)">
                        <div class='row'>
                            <div class='col-md-10'>
                                <p>
                                    <input type="text" class="form-control" 
                                        placeholder="Tours"
                                        ng-model="addedTour" 
                                        typeahead-editable='true'
                                        typeahead="obj as ( thecompany.adminCompany?obj.name:obj.tour.name ) for obj in getTours($viewValue)" >
                                    <!--<input type="text" class="form-control" 
                                        ng-if="thecompany.adminCompany"
                                        placeholder="Tours"
                                        ng-model="addedTour" 
                                        typeahead-editable='true'
                                        typeahead="obj as obj.name for obj in getTours($viewValue)" >
                                    <select chosen ng-options='obj as obj.name for obj in allTours' ng-model='addedTour' ></select>-->
                                </p>
                            </div>
                            <div class='col-md-2'>
                                <a ng-click='addTH("tour")' class='btn-primary btn pull-right'><%= __('order-agregar')%></a>
                            </div>
                        </div><br >
                        <div class='isCtourContainer'>
                            <div ng-repeat='item in reservations.tours'>
                                <%- partial('inputsTour') -%> 
                                <div class='headtitle'>
                                    <a ng-click="setSteps('prev',false)" class='btn btn-primary' >Anterior</a>
                                    <a ng-click="setSteps('next',false)" class='btn btn-primary' >Siguiente</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </form>
            </div>
            <div class='row'>
            <!-- Hotel section -->
                <form class='stdform stdform2 col-md-12' action='' name='' method='post'>
                    <div class='headtitle'>
                        <div class='btn-group'>
                            <a class="btn btn-primary pull-right" ng-click="setSteps('',4)"><i class='fa fa-circle-thin'></i></a>
                            <a class="btn btn-primary pull-right" ng-click="setSteps('prev',false)"><i class='fa fa-arrow-left'></i></a>
                        </div>
                        <h4 class="widgettitle"><%= __('order-reservar-hotel')%></h4>
                    </div>
                    <div collapse="!(steps==4?true:false)">
                        <div class='row'>
                            <div class='col-md-10'>
                                <p><select chosen ng-options='obj as obj.name for obj in hotels' ng-model='addedHotel' ></select></p>
                            </div>
                            <div class='col-md-2'>
                                <a ng-click='addTH("hotel")' class='btn-primary btn pull-right'><%= __('order-agregar')%></a>
                            </div>
                        </div><br >
                        <div class='isCHotelContainer'>
                            <div ng-repeat='item in reservations.hotels'>
                                <%- partial('inputsHotel') -%> 
                                <div class='headtitle'>
                                    <a ng-click="setSteps('prev',false)" class='btn btn-primary' >Anterior</a>
                                    <a ng-click="setSteps('next',false)" class='btn btn-primary' >Siguiente</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
        <div class='col-md-4'>
            <div class='widgetbox'>
                <h4 class="widgettitle">Información de pago</h4>
                <div class="widgetcontent paymentInformation">
                    <div ng-show="!transfer.fee && reservations.tours.length==0 && reservations.hotels.length==0">
                        <h4>No hay reservas activas</h4>
                    </div>
                    <div ng-show="transfer.fee || reservations.tours.length || reservations.hotels.length">
                        <div ng-if="transfer.fee">
                            <h4><strong>Reserva de traslado</strong></h4>
                            <p><span ng-bind="transfer.transfer.transfer.name"></span> - $<span ng-bind="transfer.fee"></span></p>
                        </div>
                        <div ng-if="reservations.tours.length">
                            <h4><strong>Reserva de tours</strong></h4>
                            <p ng-repeat="t in reservations.tours"><span ng-bind="t.tour.name"></span> - $<span ng-bind="t.fee + f.feeKids"></span></p>
                        </div>
                        <div ng-if="reservations.hotels.length">
                            <h4><strong>Reserva de hoteles</strong></h4>
                        </div>
                        <hr>
                        <h4>TOTAL : $<span ng-bind="theTotal"></span></h4>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- Termina row reservas y columna de precios -->
    <div class='row'>
        <div class='col-md-12'>
            <a class="btn btn-primary btn-big pull-right full-sm" ng-click="saveAll()"><i class='fa fa-save'></i> <%= __('order-reservar')%> </a>
            <a class='btn btn-primary btn-big pull-right full-sm' ng-click="resetForm()" ><i class='fa fa-eraser'></i> Limpiar campos</a>
        </div>
    </div>
    <div class="modal fade" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div 
                    form-helper 
                    fields='content.clientForOrders' 
                    form-footer='Agregar'
                    form-save = 'createClient'
                    object = 'client_c'
                    form-title='Agregar Cliente'
                    modal='true'
                    >
                </div>  
            </div>
        </div>
    </div>
    <div id='popup_overlay' class='ng-hide ng-cloak' ng-hide="!alertM.show"></div>
    <div id='popup_container' class='alert-warning ng-hide ng-cloak' ng-hide="!alertM.show">
        <h1 id="popup_title" ><%= __('order_error') %></h1>
        <div id="popup_content" class="alert" ng-show="alertM.show&&alertM.client">
            <div id="popup_message"><%= __('order_errC') %></div>
            <div id="popup_panel"><a ng-click="alertM.show=false;alertM.client=false;" id="popup_ok" style="display: block;width: 150px;margin: 0 auto;">OK</a></div>
        </div>
        <div id="popup_content" class="alert" ng-show="alertM.show&&alertM.allEmpty">
            <div id="popup_message"><%= __('order_errA') %></div>
            <div id="popup_panel"><a ng-click="alertM.show=false;alertM.allEmpty=false;" id="popup_ok" style="display: block;width: 150px;margin: 0 auto;">OK</a></div>
        </div>
        <div id="popup_content" class="alert" ng-show="alertM.show&&alertM.date">
            <div id="popup_message"><%= __('order_errDate') %></div>
            <div id="popup_panel"><a ng-click="alertM.show=false;alertM.date=false;" id="popup_ok" style="display: block;width: 150px;margin: 0 auto;">OK</a></div>
        </div>
    </div>
    <div custom-message messages="customMessages"></div>
</div>