<script type='text/javascript'>
    window.content = <%- JSON.stringify(_content) %>;
	window.interactions = <%- JSON.stringify(interactions) %>;
</script>
<div ng-controller='orderNewCTL' class='ng-cloak'>
    <div class='row'><div class='col-sm-12 col-md-8'>
        <div>
            <span>¿Qué quieres reservar?</span>
            <div class="btn-group giant-group">
                <label class="btn btn-success" ng-model="x" uib-btn-radio="'Tour'" uncheckable>Tour</label>
                <label class="btn btn-success" ng-model="x" uib-btn-radio="'Hotel'" uncheckable>Hotel</label>
                <label class="btn btn-success" ng-model="x" uib-btn-radio="'Transfer'" uncheckable>Traslado</label>
                <div class='clear'></div>
            </div>
        </div>
        <!-- Lo primero que se selecciona es el cliente, quitar la agencia? -->
        <div ng-hide="!x" class='row'>
            <div class='col-sm-12 col-md-6 col-lg-6'>
                <label class='outerLabel'>Nombre del cliente</label>
                <input type='text' ng-model="client.name" >
            </div>
            <div class='col-sm-12 col-md-6 col-lg-6'>
                <label class='outerLabel'>Agencia: </label>
                <select class='outerSelect' ng-change="getAllTours()" ng-model='thecompany' ng-options="obj as obj.name for obj in companies" ></select>
            </div>
        </div>
        <!-- 
            Después agregar el nombre del cliente se va a seleccionar (dependiendo del selector)
            qué item se va a agregar (en los casos de tours y hoteles)
        -->
        <div ng-hide="x=='Transfer'||collapse||(!client.name||client.name=='')"><div class='widgetcontent nopadding'>
            <div ng-hide="x!='Tour'||selectReservationType!='tour'">
                <div class='peoplelist orderTourList'><div>
                    <h4 class='widgettitle'>Tours</h4>
                    <input type="text" class="form-control" 
                            placeholder="Buscar Tours"
                            ng-model="searchTours"
                            ng-change="getAllTours(searchTours)" >
                    <div class='peopleinfo'><ul>
                        <li ng-repeat="t in allTours.results">
                            <div class='thumb'>
                                <img ng-if='t.icon' ng-src="/uploads/tours/50x50{{t.icon.filename}}">
                                <img ng-if='!t.icon' ng-src="http://placehold.it/50x50">
                            </div>
                            <div class='info'>
                                <p><strong><a ng-bind="t.name"></a></strong>, adultos $<span ng-bind="t.fee"></span> , niños $<span ng-bind="t.feeChild"></span></p>
                                <p>Proveedor: <span ng-bind="t.provider.name"></span></p>
                                <p>{{t.description_es | limitTo : 180}}</p>
                            </div>
                            <div class='pull-right actions'>
                                <a ng-click="addTH('tour',t)"><i class='fa fa-plus'></i> Agregar</a>
                                <a ng-click="openTH('tour',t)" data-toggle="modal" data-target="#myModal2"><i class='fa fa-eye'></i> Ver más</a>
                            </div>
                            <div class='clear'></div>
                        </li>
                    </ul></div>
                    <div><pagination total-items="allTours.count" ng-model="toursCurrentPage" max-size="7" class="pagination-sm" items-per-page='5' ng-change="getAllTours()"></pagination></div>
                </div></div>
            </div>
            <div ng-hide="x!='Hotel'||selectReservationType!='hotel'">
                <div class='peoplelist orderTourList'><div>
                    <h4 class='widgettitle'>Hoteles</h4>
                    <input type="text" class="form-control" 
                            placeholder="Buscar Hoteles"
                            ng-model="searchHotels"
                            ng-change="getAllHotels()" >
                    <div class='peopleinfo'><ul>
                        <li ng-repeat="t in allHotels.results">
                            <div class='thumb'>
                                <img ng-if='t.icon' ng-src="/uploads/hotels/50x50{{t.icon.filename}}">
                                <img ng-if='!t.icon' ng-src="http://placehold.it/50x50">
                            </div>
                            <div class='info'>
                                <p><strong><a ng-bind="t.name"></a></strong>, adultos desde $<span ng-bind="getMinPrice(t,'adult')"></span> , niños desde $<span ng-bind="getMinPrice(t,'child')"></span></p>
                                <p>{{t.description_es | limitTo : 180}}</p>
                            </div>
                            <div class='pull-right actions'>
                                <a ng-click="addTH('hotel',t)"><i class='fa fa-plus'></i> Agregar</a>
                                <a ng-click="openTH('hotel',t)" data-toggle="modal" data-target="#myModal2"><i class='fa fa-eye'></i> Ver más</a>
                            </div>
                            <div class='clear'></div>
                        </li>
                    </ul></div>
                    <div><pagination total-items="allHotels.count" ng-model="hotelsCurrentPage" max-size="7" class="pagination-sm" items-per-page='5' ng-change="getAllHotels()"></pagination></div>
                </div></div>
            </div>
        </div></div>
        <!-- Aquí lo que sigue depende de lo que se haya seleccionado -->
        <form class='stdform stdform2' ng-hide="!client||client.name==''">
            <div ng-if="x=='Tour'&&reservations.tours.length>0">
                <div ng-repeat="item in reservations.tours track by $index" ng-if="$index==0"><%- partial('inputsTour') -%></div>
            </div>
            <div ng-if="x=='Hotel'&&reservations.hotels.length>0">
                <div ng-repeat="item in reservations.hotels track by $index" ng-if="$index==0"><%- partial('inputsHotel') -%></div>
            </div>
            <div ng-if="x=='Transfer'"><%- partial('inputsTransfer') -%></div>
        </form>
        <!-- Lo extra agregado -->
        <div ng-hide="!x" ng-hide="!client||client.name==''">
            <div>Otros tours</div>
            <div>Otros hotels</div>
            <div>Otros transfers</div>
        </div>
        <!-- 
            Botones para agregar algo más (otro tour, hotel o traslado) 
            Al agregar algo debe de llevar la pantalla al nuevo formulario
        -->
        <div ng-hide="!x">
            <span>Agregar</span> 
            <div class="btn-group giant-group">
                <button ng-click="showToAdd('tour')" class="btn btn-success" >Tour</button>
                <button ng-click="showToAdd('hotel')" class="btn btn-success" >Hotel</button>
                <button ng-click="showToAdd('transfer')" class="btn btn-success" >Traslado</button>
                <div class='clear'></div>
            </div>
        </div>
        </div><div class='col-md-4'><%- partial('partial/order_resume') -%> </div>
    </div>
    <!--<div class='row'>
        <div class='col-md-12'>
            <a class="btn btn-primary btn-big pull-right full-sm" ng-click="saveAll()"><i class='fa fa-save'></i> <%= __('order-reservar')%> </a>
            <a class='btn btn-primary btn-big pull-right full-sm' ng-click="resetForm(false)" ><i class='fa fa-eraser'></i> Limpiar campos</a>
        </div>
    </div>-->
    <div class="modal fade" id="myModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <%- partial('partial/contacts_modal') -%> 
            </div>
        </div>
    </div>
    <div class="modal fade" id="myModal2">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class='custom-layout layout-flex'>
                    <div class='custom-flex flex3 lateral-container'>
                        <h3 class='uppercase' ng-hide="!theIFC.includes"><span class='fa fa-check'></span> Incluye</h3>
                        <ul ng-hide="!theIFC.includes">
                            <li ng-repeat="item in theIFC.includes" ng-bind="item"></li>
                        </ul>
                        <h3 class='uppercase' ng-hide="!theIFC.noincludes"><span class='fa fa-times'></span> No incluye</h3>
                        <ul ng-hide="!theIFC.noincludes">
                            <li ng-repeat="item in theIFC.noincludes" ng-bind="item"></li>
                        </ul>
                        <h3 class='uppercase' ng-hide="!theIFC.services"><span class='fa fa-check'></span> Servicios</h3>
                        <ul ng-hide="!theIFC.services">
                            <li ng-repeat="item in theIFC.services" ng-bind="item"></li>
                        </ul>
                        <h3 class='uppercase' ng-hide="!theIFC.payed_services"><span class='fa fa-money'></span> Servicios con costo</h3>
                        <ul ng-hide="!theIFC.payed_services">
                            <li ng-repeat="item in theIFC.payed_services" ng-bind="item"></li>
                        </ul>
                        <h3 class='uppercase' ng-hide="!theIFC.duration"><span class='fa fa-clock-o'></span> Duración</h3>
                        <ul ng-hide="!theIFC.duration"><li ng-bind="theIFC.duration"></li></ul>
                    </div>
                    <div class='custom-flex flex7 principal-container'>
                        <img ng-if="theIFC.icon" ng-src="/uploads/{{theIFC.folder}}/593x331{{theIFC.icon.filename}}">
                        <div class='text-container'>
                            <h2 ng-bind="theIFC.name"></h2>
                            <p ng-repeat="item in theIFC.description track by $index" ng-bind="item"></p>
                            <br>
                            <div ng-hide="!theIFC.rooms">
                                <h2>Cuartos</h2>
                                <ul>
                                    <li ng-repeat="room in theIFC.rooms">
                                        <img ng-if="room.icon" ng-src="/uploads/rooms/80x80{{room.icon.filename}}">
                                        <img ng-if="!room.icon" ng-src="http://placehold.it/60x60">
                                        <p><strong ng-bind="room.name_es"></strong></p>
                                        <p>Hasta <span ng-bind="room.pax"></span> personas. Desde $ <span ng-bind="room.fee"></span> (adultos), $<span ng-bind="room.feeChild"></span> (menores). </p>
                                        <p ng-repeat='desc in room.description' ng-bind="desc"></p>
                                        <div class='clear'></div>
                                    </li>
                                </ul>
                            </div>
                            <h3 ng-hide="!theIFC.recommendations"><span class='fa fa-thumbs-up'></span>Recomendaciones</h3>
                            <ul ng-hide="!theIFC.recommendations">
                                <li ng-repeat="item in theIFC.recommendations" ng-bind="item"></li>
                            </ul>
                            <br>
                            <p>
                                <!--<a class='btn btn-primary' ng-click="addTH(theIFC.type,theIFC)" data-dismiss="modal" aria-hidden="true">Reservar</a>-->
                                <button type='reset' class='btn reset' data-dismiss="modal" aria-hidden="true">Cerrar</button>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id='popup_overlay' class='ng-hide ng-cloak' ng-hide="!alertM.show&&!alertMessage.show"></div>
    <div id='popup_container' class='alert-warning ng-hide ng-cloak' ng-class="alertMessage.classType" ng-hide="!alertM.show&&!alertMessage.show">
        <h1 id="popup_title">{{alertMessage.title || 'Error en la orden'}}</h1>
        <div id="popup_content" class="alert" ng-show="alertMessage.show" >
            <div id="popup_message" ng-bind="alertMessage.message"></div>
            <div id="popup_panel">
                <a ng-repeat="b in alertMessage.buttons" ng-click="b.action()" id="" class='btn btn-primary' ng-bind="b.label"></a>
            </div>
        </div>
        <div id="popup_content" class="alert" ng-show="alertM.show&&alertM.client">
            <div id="popup_message"><%= __('order_errC') %></div>
            <div id="popup_panel"><a ng-click="alertM.show=false;alertM.client=false;" id="popup_ok" style="display: block;width: 150px;margin: 0 auto;">OK</a></div>
        </div>
        <div id="popup_content" class="alert" ng-show="alertM.show&&alertM.allEmpty">
            <div id="popup_message"><%= __('order_errA') %></div>
            <div id="popup_panel"><a ng-click="alertM.show=false;alertM.allEmpty=false;" id="popup_ok" style="display: block;width: 150px;margin: 0 auto;">OK</a></div>
        </div>
        <div id="popup_content" class="alert" ng-show="alertM.show&&alertM.date">
            <div id="popup_message"><%= __('order_errDate') %></div>
            <div id="popup_panel"><a ng-click="alertM.show=false;alertM.date=false;" id="popup_ok" style="display: block;width: 150px;margin: 0 auto;">OK</a></div>
        </div>
    </div>
    <div custom-message messages="customMessages"></div>
</div>
<div id="cargando-elementos" class="ng-cloak">
    <img src="/images/loaders/images-cm.gif">
</div>