<script type='text/javascript'>
	window.cupon = <%- JSON.stringify(cupons) %>;
	window.cuponsSingle = <%- JSON.stringify(cuponsSingle) %>;
	window.content = <%- JSON.stringify(_content) %>;
</script>
<div ng-controller='cuponSingleCTL' >
    <p><button class="btn btn-primary" data-toggle="modal" data-target="#myModal"><i class='fa fa-plus'></i> <%= __('cupon_addInstancia')%></button></p>
    <br> 
    <div table-helper inline-edit="/foodscheme/update/" objects='cuponsSingle' columns='content.cuponSingle' route='cuponsingle'></div>
	<div class="modal fade" id="myModal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div 
					form-helper 
			        fields='content.cuponSingleEdit' 
			        form-footer='<%= __('cupon_generate')%>'
			        form-save = 'createInstance'
			        object = 'instance'
				objects='{cupon:cupon}'
			        form-title='<%= __('cupon_addInstancia')%>'
			       	modal='true'
			        >
			    </div>
			</div>
		</div>
	</div>

</div>
