<script type='text/javascript'>
	window.product = <%- JSON.stringify(product) %>;
    window.product_types = <%- JSON.stringify(product_types) %>;
    window.product_type = <%- JSON.stringify(product_type) %>;
</script>
<div ng-controller='productCTL'>
	<div class="span5">
		<div class="alert alert-block unseen">
			<button data-dismiss="alert" class="close" type="button">×</button>
			<h4>Mensaje</h4>
				<p style="margin: 8px 0"></p>
		</div>
	    
	     <div class="widgetbox">
	     	<h4 class="widgettitle">Informacion Basica</h4>
	     	<div class="widgetcontent nopadding">                            
	     		<form action="/product/update" method="post" accept-charset="utf-8" enctype="multipart/form-data" class="stdform stdform2 ng-pristine" >
					<input type='hidden' ng-value='product.id' name='pid' />
					<%- partial('new-basic') %>
                    <%- partial('inventory-type-fields') %>
	     			<p class="stdformbutton">
		                <button class="btn btn-primary">Guardar</button>
	     			</p>
	     		</form>
	     	</div>
	     </div>
	</div>

    <div class="span5" >
        <div class="widgetbox">
		    <%- partial('product-gallery') %>
        </div>
	</div>

    <% if (product_type.fields.length > 0) {%>
    <div class="span5" >
        <div class="widgetbox">
            <%- partial('product-type-fields') %>
        </div>
    </div>
    <% } %>

    <% if (product_type.inventory_use) {%>
    <div class="span5">
        <div class="widgetbox">
            <%- partial('inventory') %>
        </div>
    </div>
    <% } %>

    <div class="span5">
        <div class="widgetbox">
            <%- partial('quote') %>
        </div>
    </div>
</div>
