<div ng-controller="clientCTL">
    <div class="row-fluid">
        <div class="col-md-12">
            <div class="buttons-box">
                <!-- Single button -->
                <div class="btn-group">
                    <button type="button" class="btn btn-default button-orange dropdown-toggle" data-toggle="dropdown">
                        <span class="table-icon fa fa-filter"></span> FILTROS <span class="fa fa-caret-down"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                    </ul>
                </div>
                <a href="/clientes/agregar" class="btn btn-default button-orange"><span class="table-icon fa fa-plus"></span> AGREGAR CLIENTE</a>
            </div>
            <div class="widgetcontent custom-table nopadding">
                <table class="table table-striped">
                    <tr>
                        <th>Nombre</th>
                        <th>Direccion</th>
                        <th>Telefono</th>
                        <th>RFC</th>
                    </tr>
                    <% for(var i = 0; i< clients.length; i++){ %>
                    <tr>
                        <td data-title="Nombre"><a href="/clients/edit/<%= clients[i].id %>"><%= clients[i].name %></a></td>
                        <td data-title="Direccion"><%= clients[i].address %></td>
                        <td data-title="Telefono"><%= clients[i].phone %></td>
                        <td data-title="RFC"><%= clients[i].rfc %></td>
                    </tr>
                    <% } %>
                </table>
            </div>
        </div>

    </div>

</div>
