<div ng-controller="clientEditCTL">

    <div class="row">
        <div class="col-md-6">
            <div class="alert alert-block unseen">
                <button data-dismiss="alert" class="close" type="button">×</button>
                <h4>Mensaje</h4>
                <p style="margin: 8px 0">El usuario se ha actualizado exitosamente</p>
            </div>
            <div class="widgetbox">
                <div class="widgetcontent nopadding">
                    <form action="/clients/update" method="post" accept-charset="utf-8" class="stdform stdform2 ng-pristine">
                        <input type="hidden" name="catID" value="<%=client.id%>" />
                        <p>
                            <label for="name">Nombre*</label>
                            <span class="field"><input type="text" name="name" id="name" class="input-large" value="<%=client.name%>"></span>
                        </p>
                        <p><label for="address">Direccion*</label>
                            <span class="field"><input type="text" name="address" id="address" class="input-large" value="<%=client.address%>"></span>
                        </p>
                        <p>
                            <label for="rfc">RFC*</label>
                            <span class="field"><input type="text" name="rfc" id="rfc" class="input-large" value="<%=client.rfc%>"></span>
                        </p>
                        <p>
                            <label for="phone">Telefono</label>
                            <span class="field"><input type="text" name="phone" id="phone" class="input-large" value="<%=client.phone%>"></span>
                        </p>
                        <p class="stdformbutton">
                            <button class="btn btn-primary">Guardar</button>
                            <button type="reset" class="btn">Resetear</button>
                        </p>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-11">
            <h4 class="widgettitle"><span class="fa fa-pencil"></span> Ventas <a href="#" class="pull-right"><span class="fa fa-plus"></span> Agregar nueva venta</a></h4>
            <div class="widgetcontent custom-table nopadding">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Fecha</th>
                        <th>Vendedor</th>
                        <th>Status</th>
                        <th>Monto</th>
                        <th>PDF</th>
                        <th>Enviar por mail</th>
                    </tr>
                    </thead>
                    <% for(var i = 0; i< client.sales.length; i++){ %>
                    <tr>
                        <td data-title="Fecha">25-06-2014</td>
                        <td data-title="Vendedor"><a href="#">Salvador Barron</a></td>
                        <td data-title="Status">En proceso</td>
                        <td data-title="Monto">$2,500.00 MXN</td>
                        <td data-title="PDF"><a href="#"><span class="table-icon fa fa-file-pdf-o"></span></a></td>
                        <td data-title="Enviar por mail"><a href="#"><span class="table-icon fa fa-send"></span></a></td>
                    </tr>
                    <% } %>
                </table>
            </div>
        </div>

    </div>
</div>
