<div ng-controller="saleCTL">
    <div class="row-fluid">
        <div class="col-md-12">
            <div class="buttons-box">
                <!-- Single button -->
                <div class="btn-group">
                    <button type="button" class="btn btn-default button-orange dropdown-toggle" data-toggle="dropdown">
                        <span class="table-icon fa fa-filter"></span> FILTROS <span class="fa fa-caret-down"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                    </ul>
                </div>
                <!--data-toggle="modal" data-target="#addModal"-->
                <a href="/ventas/agregar" class="btn btn-default button-orange"><span class="table-icon fa fa-plus"></span> AGREGAR VENTA</a>
            </div>
            <div class="widgetcontent custom-table nopadding">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Fecha</th>
                            <th>Vendedor</th>
                            <th>Cliente</th>
                            <th>Status</th>
                            <th>Monto</th>
                            <th>Editar</th>
                        </tr>
                    </thead>
                    <% for(var i=0;i<sales.length;i++){
                        var sale = sales[i];
                    %>
                    <tr>
                        <td data-title="Fecha"><%= moment(sale.createdAt) %></td>
                        <td data-title="Vendedor"><a href="/ventas/editar/<%= sale.id %>"><%= sale.user.name %></a></td>
                        <td data-title="Cliente"><%= sale.client.name %></td>
                        <td data-title="Status"><%= sale.status || 'pendiente' %></td>
                        <td data-title="Monto"><%= sale.totalAmount || 0 %></td>
                        <td data-title="Editar"><a href="/ventas/editar/<%= sale.id %>"><span class="table-icon fa fa-edit"></span></a></td>
                    </tr>
                    <% } %>
                </table>
            </div>
        </div>
    </div>
    <%- partial('addModal') -%>
</div>
