<script type='text/javascript'>
    window.mycompany = <%- JSON.stringify(mycompany) %>;
    window.apps = <%- JSON.stringify(apps) %>;
    window.users = <%- JSON.stringify(users) %>;
    window.hotels = <%- JSON.stringify(hotels) %>;
    window.currencies = <%- JSON.stringify(mycompany.currencies || []) %>;
    window.admin_currencies = <%- JSON.stringify(currencies) %>;
    //console.log(window.currencies);
</script>
<div ng-controller='companyEditCTL'>
<div class='row'>
    <div class="col-md-6">
        <div form-helper
             fields='content.company'
             object='mycompany'
             action='/company/update'
             objects = '{currencies:currencies}'
             currency = 'company.base_currency'
             form-title='<%= __("gral_companyInfo") %>'
             restrict="apps"
                >
        </div>
    </div><!--span8-->
    <div class="col-md-6">
        <div class="widgetbox">
            <h4 class="widgettitle"><%= __('emp-archivos') %></h4>
            <div class="widgetcontent">
                <form method="post" ng-submit='' ng-if="">
                    <p>
                        <label><%= __('emp-acta') %></label>
                            <span class='field'>
                                <div class='fileBtn btn fileinput-button'>
                                    <input type='text' name='file' data-url='/company/addFile'>
                                </div>
                            </span>
                    </p>
                    <p>
                        <label><%= __('emp-legal-acta') %></label>
                            <span class='field'>
                                <div class='fileBtn btn fileinput-button'>
                                    <input type='text' name='file' data-url='/company/addFile'>
                                </div>
                            </span>
                    </p>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-4 profile-left profileEdit Admin">
    	<div class="alert alert-block unseen">
    		<button data-dismiss="alert" class="close" type="button">×</button>
    		<h4>Mensaje</h4>
    			<p style="margin: 8px 0"><%= __('emp-actualizar') %></p>
    	</div>
        
        <div profile-image object='mycompany' update-method='/company/updateIcon' delete-method='/company/destroyIcon' image-attr='icon' dir='companies'></div>    

        <div class="widgetbox">
            <h4 class="widgettitle"><%= __('admin-conf-moneda') %></h4>
            <div class="widgetcontent">
			<p><label for="currency_select"><%= __('company-currencies') %></label></p>
			<ul class="list-nostyle list-inline removeCurrency">
				<li ng-repeat="i in currencies">
					<span class="btn"> 
						<a ng-click="remove_currency(i.id)" class="fa fa-times"></a>
						<span ng-bind="i.currency_code"></span>
					</span>
				</li>
			</ul>
			<div class="currency_wrap">
				<p><label for="currency_select"><%= __('company-currencies-select') %></label></p>
				<p><select ng-model="select_currency">
					<option ng-repeat="i in admin_currencies" ng-if="currencies_id.indexOf(i.id) == -1" value="{{i.id}}" ng-cloak>{{i.name+" ("+i.currency_code+")"}}</option>

				</select></p>
			</div>
			<p class="stdformbutton"><button class="btn btn-primary" ng-click="add_currency()"><%= __('admin-agregar-moneda') %></button></p>


            </div>
        </div>
            
        <% if (req.user.isSuperAdmin()) {%>
        <div class="widgetbox tags">
                <h4 class="widgettitle"><%= __('emp-aplicaciones') %></h4>
                <div class="widgetcontent">
                    <ul class="taglist" ng-repeat='app in selectedApps'>
        				<li><a>
                            <i ng-bind='app.label'></i>
                            <span class="close" ng-click='removeApp(app)'>×</span>
                        </a></li>
        		    </ul>
                    <hr>
                    <form method="post" ng-submit='addApp(selectedApp)' ng-if="missingApps.length > 0">
                        <input type='hidden' value='<%-mycompany.id%>' name='company' />
                        <p>
                            <select ng-model="selectedApp" name="app" ng-options="app.label for app in missingApps" chosen="selectedApps">
                            </select>
                            <button type='submit' class="btn btn-primary" ng-if="selectedApp"><%= __('emp-agregar-app') %></button>
                        </p>
                    </form>
                    <p ng-if="missingApps.length == 0"><%= __('emp-app-agregada') %></p>
                </div>
        </div>

        <div class="widgetbox tags">
                <h4 class="widgettitle"><%= __('emp-usuarios') %></h4>
                <div class="widgetcontent">
                    <ul class="taglist" ng-repeat='user in mycompany.users'>
                        <li><a>
                                <i ng-bind='user.name'></i>
                                <span class="close" ng-click='removeUser(user)'>×</span>
                            </a></li>
                    </ul>
                    <hr>
                    <form ng-submit='addUser(selectedUser)' ng-if="mycompany.users.length != users.length">
                        <input type='hidden' value='<%-mycompany.id%>' name='company' />
                        <p>
                            <select ng-options="user.name for user in users | filter:filterUsers" ng-model="selectedUser" name="" chosen></select>
                            <button ng-if="selectedUser" class="btn btn-primary ng-scope"><%= __('emp-agregar-usuario') %></button>
                        </p>
                        <p><a href="/users/new_user/" style="display:block;margin-top:10px"><%= __('emp-agregar-usuarios') %></a></p>
                    </form>
                    <p ng-if="mycompany.users.length == users.length"><%= __('emp-todos-usuarios') %></p>
                </div>
        </div>

        <div class="widgetbox tags">
                <h4 class="widgettitle"><%= __('emp-hoteles') %></h4>
                <div class="widgetcontent"  ng-if="mycompany.hotels.length">
                    <ul class="taglist" ng-repeat='hotel in mycompany.hotels'>
                        <li><a>
                                <i ng-bind='hotel.name'></i>
                                <span class="close" ng-click='removeHotel(hotel)'>×</span>
                            </a></li>
                    </ul>
                    <hr>
                    <form ng-submit='addHotel(selectedHotel)' ng-if="mycompany.hotels.length != hotels.length">
                        <input type='hidden' value='<%-mycompany.id%>' name='company' />
                        <p>
                            <select ng-options="hotel.name for hotel in hotels | filter:filterHotels" ng-model="selectedHotel" name="" chosen></select>
                            <button ng-if="selectedHotel" class="btn btn-primary ng-scope"><%= __('emp-agregar-hotel') %></button>
                        </p>
                        <p><a href="/hotels/new_hotel/" style="display:block;margin-top:10px"><%= __('emp-agregar-hoteles') %></a></p>
                    </form>
                    <p ng-if="mycompany.hotels.length == hotels.length"><%= __('emp-todos-hoteles') %></p>
                </div>
        </div>
        <% } %>

        <div class="widgetbox">
            <h4 class="widgettitle"><%= __('emp-impuestos') %> <span ng-click='toggleNewTax()'  class='fa icon' ng-class='newTaxClass'></span>  </h4>
            <div class="widgetcontent">
                <div ng-show='showTaxForm'>
                    <div form-helper
                         fields='content.company_tax'
                         form-footer='Agregar Impuesto'
                         form-save = 'addTax'
                         object = 'tax'
                            >
                    </div>
                </div>
                <div ng-show='mycompany.taxes.length'>
                    <div table-helper objects='mycompany.taxes' columns='content.company_tax' edit-route="/company/edit_tax" delete-route="/company/delete_tax"></div>
                </div>
            </div>
        </div>
            
    </div><!--span4-->
</div><!--row end-->
<div class='row'>
    <div class='col-md-12'>
        <div class="widgetbox">
            <h4 class='widgettitle'>Productos</h4>
            <%- partial('partials/tours') %> 
            <%- partial('partials/transfers') %> 

            <br>
            <p>Notas</p>
            <ul class="text-list">
                <li>La comisión de la agencia es un porcentaje de descuento, en caso de aplicar.</li>
                <li>Si no alica un porcentaje se pueden especificar los precios manualmente.</li>
            </ul>
        </div>
    </div>
</div><!--row end-->
</div>
