<script type='text/javascript'>
    window.company = <%- JSON.stringify(company) %>;
    window.apps = <%- JSON.stringify(apps) %>;
</script>
<div class='row-fluid' ng-controller='companyEditCTL'>
    <div class="span4 profile-left profileEdit Admin">
    	<div class="alert alert-block unseen">
    		<button data-dismiss="alert" class="close" type="button">×</button>
    		<h4>Mensaje</h4>
    			<p style="margin: 8px 0">La empresa se ha actualizado exitosamente</p>
    	</div>
        
        <div profile-image object='company' update-method='/company/updateIcon' delete-method='/company/destroyIcon' image-attr='icon' dir='companies'></div>    
            
            
        <div class="widgetbox tags">
                <h4 class="widgettitle">Aplicaciones</h4>
                <div class="widgetcontent">
                    <ul class="taglist" ng-repeat='app in company.apps'>
        				<li><a>
                            <i ng-bind='allApps[app].label'></i>
                            <span class="close" ng-click='removeApp(app)'>×</span>
                        </a></li>
        		    </ul>
                    <hr>
                    <form method="post" ng-submit='addApp(selectedApp)' ng-if="apps.length > 0">
                        <p>
                            <span class="field">
                                <select ng-model="selectedApp" name="app" ng-options="app.label for app in apps">
                                </select>
                            </span>
                            <input type='hidden' value='<%-company.id%>' name='company' />
                            <button type='submit' class="btn btn-primary" ng-if="selectedApp">Agregar App</button>
                        </p>
                    </form>
                </div>
        </div>
            
            
        <div class="widgetbox tags">
                <h4 class="widgettitle">Usuarios</h4>
                <div class="widgetcontent">
                    <ul class="taglist">
    			<% for(var i=0;i<users.length;i++){ %>
    				<li><a href="/users/edit/<%=users[i].id %>"><%=users[i].name%><span class="close fa fa-edit"></span></a></li>
    			<% } %>

    		</ul>
                    <a href="/users/new_user/" style="display:block;margin-top:10px">+ Agregar Usuarios</a>
                </div>
        </div>
            
    </div><!--span4-->
    <div class="span8">        
            <div class="widgetbox personal-information">
                <h4 class="widgettitle">Información de la Empresa</h4>
                <div class="widgetcontent">
                    <form action="/company/editAjax" class="editprofileform stdform stdform2 ajaxForm commonForm" method="post">

                        <p><label for="name_input">Nombre:</label>
                        <span class="field"><input type="text" name="name" class="input-xlarge" value="<%=company.name%>"></span></p>              

                        <p><label for="address_input">Dirección</label>
                        <span class="field"><input type="text" name="address" class="input-xlarge" value="<%=company.address%>"></span></p>
                    
                        <p><label for="zipcode_input">Código Postal</label>
                        <span class="field"><input type="text" name="zipcode" class="input-xlarge" value="<%=company.zipcode%>"></span></p>

                        <p><label for="description_input">Descripción:</label>
                        <span class="field"><textarea name="description" rows="3" cols="50"><%=company.description%></textarea></span></p>
                        <input type="hidden" value="<%=company.id%>" name="userId" />
        	            <input type="hidden" value="info" name="method" />
                        <p class="stdformbutton">
                        <%var active = {
                            true:[0,'Desactivar']
                            , false:[1,'Activar']
                        } %>
                            <button type="submit" class="btn btn-primary">Actualizar Empresa</button> &nbsp; <a class="confirmbutton"  data-url="/company/" href="<%=active[company.active][0]%>"><%=active[company.active][1]%></a>
                        </p>
                        
                    </form>

                </div>
            </div>        
    </div><!--span8-->
</div>