<script type='text/javascript'>
    window.company = <%- JSON.stringify(company) %>;
    window.apps = <%- JSON.stringify(apps) %>;
    window.users = <%- JSON.stringify(users) %>;
</script>
<div class='row-fluid' ng-controller='companyEditCTL'>
    <div class="span4 profile-left profileEdit Admin">
    	<div class="alert alert-block unseen">
    		<button data-dismiss="alert" class="close" type="button">×</button>
    		<h4>Mensaje</h4>
    			<p style="margin: 8px 0">La empresa se ha actualizado exitosamente</p>
    	</div>
        
        <div profile-image object='company' update-method='/company/updateIcon' delete-method='/company/destroyIcon' image-attr='icon' dir='companies'></div>    
            
            
        <div class="widgetbox tags">
                <h4 class="widgettitle">Aplicaciones</h4>
                <div class="widgetcontent">
                    <ul class="taglist" ng-repeat='app in selectedApps'>
        				<li><a>
                            <i ng-bind='app.label'></i>
                            <span class="close" ng-click='removeApp(app)'>×</span>
                        </a></li>
        		    </ul>
                    <hr>
                    <form method="post" ng-submit='addApp(selectedApp)' ng-if="missingApps.length > 0">
                        <input type='hidden' value='<%-company.id%>' name='company' />
                        <p>
                            <select ng-model="selectedApp" name="app" ng-options="app.label for app in missingApps" chosen="selectedApps">
                            </select>
                            <button type='submit' class="btn btn-primary" ng-if="selectedApp">Agregar App</button>
                        </p>
                    </form>
                </div>
        </div>


        <div class="widgetbox tags">
                <h4 class="widgettitle">Usuarios</h4>
                <div class="widgetcontent">
                    <ul class="taglist" ng-repeat='user in company.users'>
                        <li><a>
                                <i ng-bind='user.name'></i>
                                <span class="close" ng-click='removeUser(user)'>×</span>
                            </a></li>
                    </ul>
                    <hr>
                    <form ng-submit='addUser(selectedUser)' ng-if="company.users.length != users.length">
                        <input type='hidden' value='<%-company.id%>' name='company' />
                        <p>
                            <select ng-options="user.name for user in users | filter:filterUsers" ng-model="selectedUser" name="" chosen></select>
                            <button ng-if="selectedUser" class="btn btn-primary ng-scope">Agregar Usuario</button>
                        </p>
                        <p><a href="/users/new_user/" style="display:block;margin-top:10px">+ Agregar Usuarios</a></p>
                    </form>
                    <p ng-if="company.users.length == users.length">Todos los usuarios estan agregados</p>
                </div>
        </div>
            
    </div><!--span4-->
    <div class="span8">
        <div form-helper
             fields='content.company'
             object='company'
             action='/company/update'
             form-title='Información de la Empresa'
             restrict="base_currency,apps"
                >
        </div>

        <div class="widgetbox">
                <h4 class="widgettitle">Archivos</h4>
                <div class="widgetcontent">
                    <form method="post" ng-submit='' ng-if="">
                        <p>
                            <label>Acta constitutiva</label>
                            <span class='field'>
                                <div class='fileBtn btn fileinput-button'>
                                    <input type='text' name='file' data-url='/company/addFile'>
                                </div>
                            </span>
                        </p>
                        <p>
                            <label>Rep. legal acta</label>
                            <span class='field'>
                                <div class='fileBtn btn fileinput-button'>
                                    <input type='text' name='file' data-url='/company/addFile'>
                                </div>
                            </span>
                        </p>
                    </form>
                </div>
        </div>
    </div><!--span8-->
</div>