<script type='text/javascript'>
	window.companies = <%-JSON.stringify(companies) %>;
	window.currencies = <%-JSON.stringify(currencies) %>;
    window.user = <%- JSON.stringify(current_user) %>;
    window.selected_company = <%- JSON.stringify(selected_company) %>;
    console.log(companies);
</script>

<div class="wrap_createCompany row-fluid" ng-controller="companyCTL">
	<div directory-listing 
		 objects='companies' 
		 searchInput='searchInput' 
		 dir='companies' 
		 edit-url='/company/edit/' 
		 get-info='getInfo' 
		 button-text='<%= __('emp-nueva-emp') %>'
		button-text-import='<%= __('import') %>' 
		type-import='company'
		 >
	</div>
	<div class="modal fade" id="myModal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div 
					form-helper 
			        fields='content.company' 
			        form-footer='Agregar'
			        form-save = 'createCompany'
			        object = 'newcompany'
			        form-title='<%= __('emp-agregar-emp') %>'
			       	modal='true'
			       	objects='{currencies:currencies,apps:company.apps}'
			        >
			    </div>	
			</div>
		</div>
	</div>
</div>
