<script type='text/javascript'>
	window.isAgencies = <%-JSON.stringify(isAgencies) %>;
	window.currencies = <%-JSON.stringify(currencies) %>;
    window.user = <%- JSON.stringify(current_user) %>;
    window.selected_company = <%- JSON.stringify(selected_company) %>;
</script>

<div class="wrap_createCompany row-fluid" ng-controller="companyCTL">
	<div directory-listing 
		objects='companies' 
		obj-filters='objFilters' 
		searchInput='searchInput' 
		search-find='true'
		dir='companies' 
		edit-url='/company/edit/' 
		get-info='getInfo' 
		button-text='<%= __('emp-nueva-emp') %>'
		get-url="/company/find/"
		button-text-import='<%= __('import') %>' 
		button-text-export='<%= __('export') %>' 
		type-import='company'
		type-export='company'
		type-export-text='<%= __("sc_companies") %>'
		lang='<%=req.session.lang || "en"%>'
		 >
	</div>
	<div class="modal fade" id="myModal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div 
					form-helper 
			        fields='content.company' 
			        form-footer='Agregar'
			        form-save = 'createCompany'
			        object = 'newcompany'
			        form-title='<%= __('emp-agregar-emp') %>'
			       	modal='true'
			       	objects='{currencies:currencies,apps:company.apps,company_types:company_types}'
			        >
			    </div>	
			</div>
		</div>
	</div>
</div>
