<p>
	<label for="base_currency"><%= __('emp-moneda.pri') %></label>
	<span class="field">
		<select name="base_currency" class='chzn-select required'>
		<%for(var i=0;i<currencies.length;i++){ %>
			<option value="<%=currencies[i].id%>"><%=currencies[i].name%> (<%=currencies[i].currency_code%>)</option>
		<%}%>
		</select>
	</span>
</p>

<p><label for="currencies"><%= __('emp-monedas') %></label>
<span class="field">
	<select name="currencies" multiple="multiple" class="chzn-select required" data-placeholder="Agregar Monedas...">
	<%for(var i=0;i<currencies.length;i++){ %>
		<option value="<%=currencies[i].id%>"><%=currencies[i].name%> (<%=currencies[i].currency_code%>)</option>
	<%}%>
	</select>
</span></p>

<p><label for="apps"><%= __('emp-aplicaciones') %></label>
<span class="field">
	<select name="apps" multiple="multiple" class="chzn-select required" data-placeholder="Agregar Aplicaciones...">
		<%for(var handle in apps){ %>
			<option value="<%=apps[handle].name%>"><%=apps[handle].label%></option>
		<% } %>
	</select>	
</span></p>