
<div class="widgetbox personal-information">
    <h4 class="widgettitle"><%= __('user-cambiar')%> <span class='fa icon' ng-class='saveClassPassword' ng-click="updatePassword()"></span></h4>
    <div class="widgetcontent nopadding">
        <form ng-submit="updatePassword()" class="editprofileform stdform stdform2 commonForm" name="form">
            <p>
                <label for='old_password'><%= __('user-actual')%></label>
                <span class='field'>
                    <input type='password' class='form-control required' name="old_password" id="old_password"  ng-model="old_password" required ng-hide="show_chars"/>
                    <input type='text' class='form-control required'  name="old_password" ng-model="old_password" required ng-show="show_chars"/>
                    <span class="error" ng-show="form.old_password.$error.required && submited_pass_form"><%= __('user-campo-pw')%></span>
                </span>
            </p>
            <p>
                <label for='new_password'><%= __('user-nueva')%></label>
                <span class='field'>
                    <input type='password' class='form-control' required name="new_password" id="new_password" ng-model="new_password" ng-hide="show_chars"/>
                    <input type='text' class='form-control' required name="new_password" ng-model="new_password" ng-show="show_chars"/>
                    <span class="error" ng-show="form.new_password == form.old_password"><%= __('user-misma')%></span>
                    <span class="error" ng-show="form.new_password.$error.required && submited_pass_form"><%= __('user-requerido')%></span>
                    <span class="error" ng-show="form.new_password.$error.minlength"><%= __('user-minimo')%></span>
                </span>
            </p>
            <p>
                <label for='new_password_v'><%= __('user-vuelve')%></label>
                <span class='field'>
                    <input type='password' class='form-control' required name="new_password_v" id="new_password_v" ng-model="new_password_v" ng-hide="show_chars"/>
                    <input type='text' class='form-control' required name="new_password_v" ng-model="new_password_v" ng-show="show_chars"/>
                    <span ng-show="new_password_v != new_password && new_password.$valid"><%= __('user-error')%></span>
                    <span class="error" ng-show="new_password_v.$error.required && submited_pass_form"><%= __('user-requerido')%></span>
                    <span class="error" ng-show="submited_pass_form && errorEqualPassword"><%= __('user-error-equal')%></span>
                </span>
            </p>
            <p>
                <label for='show_chars'><%= __('user-mostrar')%></label>
                <span class='field'>
                    <input type='checkbox' name='show_chars' id="show_chars" class='form-control'  ng-model="show_chars"/>
                </span>
            </p>
        </form>
    </div>
</div>
