<div class="widgetbox personal-information">
    <div class="modal-header ng-scope">
        <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
        <h4 class="modal-title ng-binding"><%= __('user-nuevo')%></h4>
    </div>

    <form name="user_form" class="form stdform stdform2" ng-submit="createUser()">
        <p>
            <label><%= __('user-nombre')%> *</label>
	        <span class="field">
	            <input type="text" ng-model="user.name" class="form-control" ng-required="true" name="uname" ng-class="{ 'has-error' : user_form.uname.$invalid && !user_form.uname.$pristine }">
	        </span>
        </p>
        <p>
            <label><%= __('user-apellido')%></label>
	        <span class="field">
	            <input type="text" ng-model="user.last_name" class="form-control" name="ulast_name">
	        </span>
        </p>
        <p>
               <input type="text" style="display:none">
                <input type="password" style="display:none">
            <label><%= __('user-mail')%> *</label>
	        <span class="field">
	            <input type="email" ng-model="user.email" class="form-control ng-email" ng-required="true" name="uemail" ng-class="{ 'has-error' : user_form.uemail.$invalid && !user_form.uemail.$pristine }">
	        </span>
        </p>
        <p>
            <label><%= __('user-pass')%> *</label>
	        <span class="field">
	            <input type="password" ng-model="user.password" class="form-control ng-password" ng-required="true" name="upassword" ng-class="{ 'has-error' : user_form.upassword.$invalid && !user_form.upassword.$pristine }">
	        </span>
        </p>
        <p class="stdformbutton">
            <button type="submit" class="btn btn-primary ng-binding" ng-disabled="user_form.$invalid"><%= __('user-agregar')%></button>
            <button class="btn" type="reset" data-dismiss="modal"><%= __('user-cancelar')%></button>
        </p>
    </form>
</div>