<div class="modal fade" id="userRoleModal" ng-controller="userRoleCTL">
    <div class="modal-dialog">
        <div class="modal-content">
            <form accept-charset='utf-8' enctype='multipart/form-data' class='stdform stdform2 rolesForm' ng-submit="saveUserRole()" name="myForm">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"><%= __('user-roles')%></h4>
                </div>
                <div class="modal-body">
                    <div class="widgetbox">
                        <div class="widgetcontent nopadding">
                            <p>
                                <label><%= __('user-selecciona')%></label>
                                <span class="field">
                                    <select ng-model="selected_role" ng-options="role as role.name for role in roles">
                                    </select>
                                </span>
                            </p>

                            <p>
                                <label><%= __('user-nombre')%></label>
                                <span class="field">
                                    <input type="text" ng-model="selected_role.name"/>
                                </span>
                            </p>

                            <div class="par">
                                <accordion close-others='false'>
                                    <accordion-group heading="{{app.label}}" ng-repeat="app in apps | filter:filterApp" style="cursor: pointer;">
                                        <table class="table responsive">
                                            <thead>
                                            <tr>
                                                <th><%= __('user-permiso')%></th>
                                                <!--<th><%= __('user-escoger')%></th>-->

                                                <th>Entrar</th>
                                                <th>Crear</th>
                                                <th>Editar</th>
                                                <th>Borrar</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr ng-repeat='action in app.actions | filter:onlyRestricted' >
                                                <td>
                                                    <label ng-bind='action.label' for="{{action.handle}}_s"></label>
                                                </td>
                                                <td>
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox" id="{{action.handle}}_s" ng-model="getRolePermission(action.handle).value" />
                                                        </label>
                                                    </div>
                                                </td>
                                                <td><div class="checkbox"><label><input type="checkbox" id="{{action.handle}}_c_s" ng-model="getRolePermission(action.handle+'_c').value" /></label></div></td>
                                                <td><div class="checkbox"><label><input type="checkbox" id="{{action.handle}}_e_s" ng-model="getRolePermission(action.handle+'_e').value" /></label></div></td>
                                                <td><div class="checkbox"><label><input type="checkbox" id="{{action.handle}}_d_s" ng-model="getRolePermission(action.handle+'_d').value" /></label></div></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </accordion-group>
                                </accordion>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"><%= __('user-cerrar')%></button>
                    <input type="submit" class="btn btn-default" value='Guardar' btn-radio="false" ng-model="isNew" ng-if="selected_role.id"/>
                    <input type="submit" class="btn btn-primary" value='Crear' btn-radio="true" ng-model="isNew" />
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->