<p>
    <label>Pax</label>
    <span class="field">
        <input type="number" ng-model="modal.pax">
    </span>
</p>
<p>
    <label><%= __("order_service_type")%></label>
    <span class="field">
        <select 
            ng-model='modal.service_type'
            ng-options="obj.id as obj.name for obj in service_types"
            required
            class='form-control' >
        </select>
    </span>
</p>
<p>
    <label><%=__("zone_from")%></label>
    <span class="field">
        <select 
            ng-model='modal.zoneFrom'
            ng-options="obj.id as obj.name for obj in filter_zones.from"
            required
            class='form-control' >
        </select>
    </span>
</p>
<p>
    <label><%=__("zone_to")%></label>
    <span class="field">
        <select 
            ng-model='modal.zoneTo'
            ng-options="obj.id as obj.name for obj in filter_zones.to"
            required
            class='form-control' >
        </select>
    </span>
</p>
<p>
    <label><%=__("price")%></label>
    <span class="field">
        <i>{{modal.fee}}</i>
        <!--<select 
            ng-model='modal.price'
            ng-options="obj.id as obj.name + ' | $ ' + obj.price for obj in filter_price()"
            required
            class='form-control' >
        </select>-->
    </span>
</p>

<p>
    <label><%=__("transport")%></label>
    <span class="field">
        <select 
            ng-model='modal.company'
            ng-options="obj.id as obj.name for obj in companies"
            ng-change="changeCompany()"
            required
            class='form-control' >
        </select>
    </span>
</p>
<p>
    <label>ID</label>
    <span class="field">
        <select 
            ng-model='modal.transport'
            ng-options="obj.id as obj.car_id for obj in transports"
            required
            class='form-control' >
        </select>
    </span>
</p>
<p>
    <label><%=__("start_hour")%></label>
    <span class="field">
        <input type="time" ng-model="modal.start" required>
    </span>
</p>
<p>
    <label><%=__("end_hour")%></label>
    <span class="field">
        <input ng-class="{'has-error': error.invalid_end}" type="time" ng-model="modal.end">
    </span>
</p>
