<form class='form stdform stdform2 nopadding'>
    <p>
        <label>Agencia</label>
        <span class='field'>
            <select ng-change='updatePriceTransfer()' ng-options='obj as obj.name for obj in all_companies track by obj.id' ng-model='modal.company' ></select>
        </span>
    </p>
    <p>
        <label>Nombre de cliente</label>
        <span class='field'><input type='text' ng-model="client.name"></span>
    </p>
    <p>
        <label>Clave</label>
        <span class='field'><input type='text' ng-model="modal.clave"></span>
    </p>
    <p>
        <label><%= __('order-origen2')%></label>
        <span class='field'>
            <span class="radio">
                <input ng-change='updateDatesFormat()' ng-model="modal.origin" type="radio" name="origin" value="hotel" checked> Hotel
            </span>
            <span class="radio">
                <input ng-change='updateDatesFormat()' ng-model="modal.origin" type="radio" name="origin" value="airport"> Aeropuerto
            </span>
        </span>
    </p>
    <p>
        <label><%= __('order-hotel')%></label>
        <span class='field'>
            <input type="text" class="form-control" 
                placeholder="<%= __('order-hotel')%>"
                ng-model="modal.hotel" 
                typeahead-editable='true'
                typeahead="obj as obj.name for obj in getHotels($viewValue)" 
                typeahead-on-select="getAirports()" >
        </span>
    </p>
    <p>
        <label><%= __('order-aeropuerto')%></label>
        <span class='field'><select ng-change='updatePriceTransfer()' ng-options='obj as obj.name for obj in airports track by obj.id' ng-model='modal.airport' ></select></span>
    </p>
    <p>
        <label><%= __('order-tipo-viaje')%> </label>
        <span class='field'>
            <span class="radio">
                <input ng-change='updatePriceTransfer()' ng-model="modal.type" type="radio" name="transtype" value="round_trip"> Redondo
            </span>
            <span class="radio">
                <input ng-change='updatePriceTransfer()' ng-model="modal.type" type="radio" name="transtype" value="one_way" checked> sencillo
            </span>
        </span>
    </p>
    <p>
        <label>Tipo de servicio </label>
        <span class='field'>
            <span class="radio">
                <input ng-change='updatePriceTransfer()' ng-model="modal.serviceType" type="radio" name="serviceType" value="P" checked> Privado
            </span>
            <span class="radio">
                <input ng-change='updatePriceTransfer()' ng-model="modal.serviceType" type="radio" name="serviceType" value="C"> Compartido
            </span>
        </span>
    </p>
    <p>
        <label>Tipo de traslado</label>
        <span class='field'><select ng-change="updatePriceTransfer()" ng-options='obj as obj.transfer.name for obj in transfers track by obj.id' ng-model='modal.transfer' ></select></span>
    </p>
    <p>
        <label>Número de personas</label>
        <span class='field'><select ng-change="updatePriceTransfer()" ng-options='obj for obj in pax' ng-model='modal.pax' ></select></span>
        <!--<input type='text' name='pax' ng-model="transfer.pax" />-->
    </p>
    <div class=' dtfa-container {{dtfa[0]?"":"disabled"}}' ng-show='dtfa[0]?true:false'>
        <h4 class="widgettitle"><%= __('order-vuelof-llegada')%></h4>
        <p>
            <label><%= __('order-llegada')%></label>
            <span class='field'>
                <span class='input-group calendar-container'>
                    <input is-open="open[0]" ng-model='modal.arrival_date' id="arrival-date" datepicker-popup min-date="DatepickerOptions.minDate" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="open($event,0)"><i class="fa fa-calendar"></i></button>
                    </span>
                </span>
            </span>
        </p>
        <p>
            <label><%= __('order_a_airline')%> </label>
            <span class='field'>
                <input type="text" class="form-control" 
                ng-model="modal.arrival_airline" 
                typeahead-editable='true'
                typeahead="obj as obj.name for obj in getAirlines($viewValue)" >
            </span>
        </p>
        <p>
            <label><%= __('order-vuelo-llegada')%></label>
            <span class='field'><input ng-model="modal.arrival_fly" type='text' name='arrival_fly' /></span>
        </p>
        <p>
            <label><%= __('order-hora')%></label>
            <span class='field'><timepicker ng-model="modal.arrival_time" ng-change="getpickuptime()" hour-step="1" minute-step="1" show-meridian="ismeridian"></timepicker></span>
        </p>
    </div>
    <div class='dtfa-container {{dtfa[1]?"":"disabled"}}' ng-show='dtfa[1]?true:false'>
        <h4 class="widgettitle"><%= __('order-vuelof-salida')%></h4>
        <p>
            <label><%= __('order-fecha-salida')%></label>
            <span class='field'>
                <span class='input-group calendar-container'>
                    <input is-open="open[1]" ng-model='modal.departure_date' datepicker-popup min-date="DatepickerOptions.minDate" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="open($event,1)"><i class="fa fa-calendar"></i></button>
                    </span>
                </span>
            </span>
        </p>
        <p>
            <label><%= __('order_d_airline')%> </label>
            <span class='field'>
                <input type="text" class="form-control" 
                ng-model="modal.departure_airline" 
                typeahead-editable='true'
                typeahead="obj as obj.name for obj in getAirlines($viewValue)" >
            </span>
        </p>
        <p>
            <label><%= __('order-vuelo-salida')%> </label>
            <span class='field'><input ng-model="modal.departure_fly" type='text' name='departure_fly' /></span>
        </p>
        <p>
            <label><%= __('order-hora-salida')%></label>
            <span class='field'><timepicker ng-model="modal.departure_time" ng-change="getpickuptime()" hour-step="1" minute-step="1" show-meridian="ismeridian"></timepicker></span>
        </p>
    </div>
</form>