<script type='text/javascript'>
    window.provider = <%- JSON.stringify(provider) %>;
    window.locations = <%- JSON.stringify(locations) %>;
    window.currencies = <%- JSON.stringify(currencies) %>;
    //console.log(company);
</script>
<div ng-controller='tourproviderEditCTL' class="ng-cloak">
    <div class='row'>
        <div class="col-md-6">
            <div form-helper 
                fields='content.tourprovider' 
                object='provider' 
                action='/tourprovider/update' 
                form-title='<%= __('tour-info')%>'
                currency='company.base_currency'
                objects='{locations:locations,currencies:currencies}'
                ></div>
        </div>
        <div class="col-md-6">
            <p><button class="btn btn-primary ng-binding" data-toggle="modal" data-target="#myModal"> <span class="fa fa-plus"></span> Tour nuevo</button></p>
        </div>
    </div>
    <div class='autocomplete'>
        <input type="text" placeholder="Agregar tour" class="form-control" 
            ng-model="thetour" 
            typeahead="tour as tour.name for tour in getTours($viewValue)" 
            typeahead-on-select="addTour($item, $model, $label)" >
    </div>
    <div class='row'>
        <div class="col-md-12">
            <div class="widgetcontent custom-table nopadding ng-cloak">
                <h4 class='widgettitle'>Tours</h4>
                <table class='table table-striped'>
                    <tr class='hide-sm'>
                        <th>Nombre</th>
                        <th>Precio <br> Público</th>
                        <th>Precio adulto<br> base</th>
                        <th>Precio menor<br> base</th>
                        <th>Comisión <br> Agencia</th>
                        <th>Comisión <br> Vendedores</th>
                        <th>Visible <br> en web</th>
                        <th>Editar</th>
                        <th>Quitar</th>
                    </tr>
                    <tr ng-repeat="t in provider.tours">
                        <td data-title="Nombre" ng-bind="t.name"></td>
                        <td data-title="Precio base" >
                            <p> Adultos: {{t.fee | currency:'$':2}} {{company.base_currency.currency_code}}</p>
                            <p> Menores: {{t.feeChild | currency:'$':2}} {{company.base_currency.currency_code}}</p>
                        </td>
                        <td>
                            <span>{{t.fee_base || 0 | currency:'$':2 }} {{company.base_currency.currency_code}}</span>
                        </td>
                        <td>
                            <span >{{t.feeChild_base || 0 | currency:'$':2 }} {{company.base_currency.currency_code}}</span>
                        </td>
                        <td data-title="Comisión agencia">
                            <span 
                                editable-text='t.commission_agency'
                                e-name='commission_agency'
                                e-form='rowform'
                            >{{t.commission_agency || 0 }} %</span>
                        </td>
                        <td data-title="Comisión vendedor">
                            <span 
                                editable-text='t.commission_sales'
                                e-name='commission_sales'
                                e-form='rowform'
                            >{{t.commission_sales || 0 }} %</span>
                        </td>
                        <td data-title="Visible en web">
                            <span 
                                editable-checkbox='t.visible'
                                e-name='visible'
                                e-form='rowform'
                            ><i class="active-i fa {{t.visible?'active fa-check-square-o':'fa-square-o'}}"></i></span>
                        </td>
                        <td>
                            <form editable-form name="rowform" onbeforesave="saveTour($data,t,$index)" ng-show="rowform.$visible" class="form-buttons form-inline" >
                              <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary"><%= __('tranferprice-guardar')%></button>
                              <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default"><%= __('tranferprice-cancelar')%></button>
                            </form>
                            <div class="buttons" ng-show="!rowform.$visible">
                              <button class="btn btn-primary" ng-click="rowform.$show()"><%= __('tranferprice-editar')%></button>
                            </div>
                        </td>
                        <td><a style='cursor:pointer' class="fa fa-trash-o" ng-click="removeTour(t)"></a></td>
                    </tr>
                </table>
            </div>
            <p>Los campos agregados al tour son para manejo de contabilidad</p>
            <ul class='text-list'>
                <li>Precios público: precios con los que se vende</li>
                <li>Precios base: precios que da el proveedor</li>
                <li>Comisión agencia: Porcentaje de ganancia que da el proveedor a la agencia principal</li>
                <li>Comisión vendedores: Porcentaje de ganancia que da la agencia principal a sus vendedores</li>
            </ul>
        </div>
    </div>
    <br/>
    <div class='clear'></div>
    <div delete-button url='/tourprovider' redirect-url='/tourprovider' object='provider' user='user'></div>
    <br/>
    <div class="modal fade" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div 
                    form-helper 
                    fields='content.tourforproviders' 
                    form-footer='<%= __('order-agregar')%>'
                    form-save = 'createTour'
                    object = 'tour'
                    form-title='<%= __('tour-agregar')%>'
                    modal='true'
                    objects='{locations:locations}'
                    currency='company.base_currency'
                    >
                </div>  
            </div>
        </div>
    </div>
</div>
<div id="cargando-elementos" class="ng-cloak">
    <img src="/images/loaders/images-cm.gif">
</div>
