<script type='text/javascript'>
    window.hotel = <%- JSON.stringify(hotel) %>;
    window.locations = <%- JSON.stringify(locations) %>;
    window._content = <%- JSON.stringify(_content)    %>;
    window.userID = <%- JSON.stringify(req.user.id) %>;
</script>
<div ng-controller='hotelEditCTL'>
    <div class='row-fluid'>
        <div class="span4 profile-left profileEdit">
        	<div class="alert alert-block unseen">
        		<button data-dismiss="alert" class="close" type="button">×</button>
        		<h4>Mensaje</h4>
        			<p style="margin: 8px 0">El usuario se ha actualizado exitosamente</p>
        		</div>
                
                <div profile-image object='hotel' update-method='/hotel/updateIcon' delete-method='/hotel/destroyIcon' image-attr='avatar2' ></div>
        </div>
        <div class="span8">        
            <div class="widgetbox personal-information">
                <h4 class="widgettitle">Información Basica <span ng-click='save()'  class='fa icon' ng-class='saveClass'></span></h4>
                <div class="widgetcontent nopadding">
                    <%-partial('forms/basic')%>                
                </div>
            </div>
                
            <div>
            </div>
        </div>
    </div>
    <div class='row-fluid'>
        <div file-manager object='hotel' add-method='/hotel/addFile' dir='hotels/gallery' ></div>
    </div>
    <div class='row-fluid'>
        <div class='span12'>
            <div class="widgetbox">
                <h4 class="widgettitle">Contenido <span ng-click='save()'  class='fa icon' ng-class='saveClass'></span></h4>
                <div class="widgetcontent nopadding">
                    <%-partial('forms/content')%>
                </div>
            </div> 
        </div>
    </div>
    <div class='row-fluid'>
        <div class='span12'>
            <div class="widgetbox">
                <h4 class="widgettitle">Habitaciones <span ng-click='toggleRoomForm()'  class='fa icon' ng-class='newRoomClass'></span>  </h4>
                <div ng-show='showRoomForm'>
                    <form class="widgetcontent nopadding form stdform stdform2" action='' method='post' >
                        <%-partial('../room/forms/content')%>
                        <p class="stdformbutton">
                            <button ng-click='addRoom()' class="btn btn-primary">Agregar Habitacion</button>
                            <button type="reset" class="btn">Resetear</button>
                        </p>
                    </form>
                </div>
                <div ng-show='hotel.rooms.length'>
                    <%-partial('../room/rooms')%>
                </div>
            </div>
        </div>
    </div>
    <br/>
    <div class='row-fluid'>
        <div class='span12'>
            <div class="widgetbox">
                <h4 class="widgettitle">Temporadas <span ng-click='toggleSeasonForm()'  class='fa icon' ng-class='newSeasonClass'></span>  </h4>
                <%-partial('forms/season')%>
                <div ng-show='hotel.seasons.length'>
                    <%-partial('seasons')%>
                </div>
            </div>
        </div>
    </div>
</div>