<script type='text/javascript'>
	window.hotels = <%- JSON.stringify(hotels) %>;
	window.locations = <%- JSON.stringify(locations) %>;
	window.zones = <%- JSON.stringify(zones) %>;
	window.schemes = <%- JSON.stringify(schemes) %>;
    window.foodSchemes = <%- JSON.stringify(foodSchemes) %>;
</script>
<div ng-controller='hotelCTL' >
	<p>
		<a class="btn btn-primary" data-toggle="modal" data-target="#uploadCVS"><i class="fa fa-upload"></i> <%= __('gral_importcvs')%></a>
	</p>
	<p></p>
	<div directory-listing 
		objects='hotels' 
		searchInput='searchInput' 
		search-find='true'
		dir='hotels' 
		edit-url='/hotel/edit/' 
		get-info='getInfo' 
		button-text='<%= __('hotel-agregar') %>'  
		button-text-import='<%= __('import') %>' 
		type-import='hotel' 
		get-url="/hotel/find/"  
		button-text-export='<%= __('export') %>' 
		type-export='hotel' 
		type-export-text='<%= __("sc_hotels") %>' 
		lang='<%=req.session.lang || "en" %>'
	></div>    
	<div class="clearfix"></div>
	<div class="modal fade" id="myModal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div form-helper 
	                fields='content.hotel' 
	                object='newHotel' 
	                form-title='<%= __('machine-info') %>'
	                form-footer='<%= __('gral_create') %>'
	                objects='{locations:locations,schemes:schemes,zones:zones,categories:categories,foodSchemes:foodSchemes}'
	                onchanges = "{'getZones' : getZones}"
	                form-save = 'createHotel'
	                modal='true'
	                >
	            </div> 
			</div>
		</div>
	</div>
	<div class="modal fade" id="uploadCVS">
    <div class="modal-dialog">
        <div class="modal-content">
            <form class='form stdform stdform2'>
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title ng-binding"><%= __('gral_importcvs')%></h4>
                </div>
                <p>
                    <label><%= __('gral_selectfile')%></label>
                    <span class='field'>
                        <span 
                            ng-file-select="WFile($files,$event)" 
                            ng-model="file" 
                            multiple="false" 
                            accept=".csv"><a class='btn btn-primary'><%= __('gral_selectfile')%></a></span>
                            <span ng-bind='fileName'></span>
                    </span>
                </p>
                <p ng-if='loading' class='loader' >
                    <label><%= __('gral_msgloading')%></label>
                    <span>
                        <span ng-bind='loadingProgress'></span>%
                        <img src='/images/loaders/images-cm.gif' />
                    </span>
                </p>
                <p class='results' ng-if='f.finish&&f.success' >
                    <label ng-if='f.success'><%= __('gral_msgsuccess')%></label>
                </p>
                <ul class='results errorslist' ng-if='f.finish&&!f.success' ng-if='f.finish'>
                    <li><%= __('gral_msglines')%>:</li>
                    <li ng-repeat="o in f.errors">
                        <%= __('gral_line')%>: {{o.index}} , <span ng-repeat="err_ in o.err">{{$index>0?' | ':''}}{{err_}}</span></li>
                </ul>
                <p class="stdformbutton ng-scope">
                    <button ng-click="saveFile()" class="btn btn-primary" ng-disabled="form.$invalid || !fileName"><%= __('gral_upload')%></button>
                </p>
            </form>
        </div>
    </div>
</div>
</div>
