<script type='text/javascript'>
	window.machine = <%- JSON.stringify(machine) %>;
    window.machine_product_types = <%- JSON.stringify(machine.product_types) %>;
    window.machine_modes = <%- JSON.stringify(machine.modes) %>;
    window.product_types = <%- JSON.stringify(product_types) %>;
</script>
<div ng-controller='editMachineCTL'>
	<div class="col-md-6">
		<div class="alert alert-block unseen">
			<button data-dismiss="alert" class="close" type="button">×</button>
			<h4>Mensaje</h4>
				<p style="margin: 8px 0"></p>
		</div>
	    
	     <div class="widgetbox">
	     	<h4 class="widgettitle">Informacion Basica</h4>
	     	<div class="widgetcontent nopadding">                            
	     		<form accept-charset="utf-8" enctype="multipart/form-data" class="stdform stdform2 ng-pristine" ng-submit="processMachineForm()">
					<input type='hidden' ng-value='product.id' name='pid' />
					<%- partial('edit-basic') %>
                    <p>
                        <label for="product_types">Categorias de producto que utiliza:</label>
                        <span class="field">
                            <select type="text" id="product_types" name="product_types" class="form-control" ng-options="p.id as p.name for p in product_types" ng-model='machine.product_types' chosen multiple></select>
                        </span>
                    </p>
	     			<p class="stdformbutton">
		                <button class="btn btn-primary">Guardar</button>
	     			</p>
	     		</form>
	     	</div>
	     </div>
	</div>
    <div class="col-md-6" >
        <div class="widgetbox">
            <h5 class="widgettitle">Modos</h5>
            <div class="widgetcontent nopadding">
                <table class="table responsive">
                    <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Vel : m2/hr</th>
                        <th>Precio m2</th>
                        <th>Eliminar</th>
                    </tr>

                    </thead>
                    <tbody>
                    <tr ng-repeat="machine_mode in machine_modes">
                        <td data-title="Nombre"><input type="text" ng-model="machine_mode.name" value="{{machine_mode.name}}"/></td>
                        <td data-title="Vel : m2/hr"><input type="text" class="span1" ng-model="machine_mode.velocity" value="{{machine_mode.velocity}}" /></td>
                        <td data-title="Precio x m2"><input type="text" class="span1" ng-model="machine_mode.price" value="{{machine_mode.price}}" /></td>
                        <td data-title="Eliminar"><a><span ng-click="deleteMachineMode($index)" class="table-icon fa fa-trash-o" style="cursor : pointer;" tooltip="borrar"></span></a></td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            <a href="#" class="btn btn-default button-orange" ng-click="addMachineMode()"><span class="table-icon fa fa-plus"></span></a>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <form accept-charset="utf-8" enctype="multipart/form-data" class="stdform stdform2 ng-pristine"  ng-submit="processMachineModeForm()" >
                    <p class="stdformbutton">
                        <button class="btn btn-primary">Guardar</button>
                    </p>
                </form>
            </div>
        </div>
    </div>
</div>