<table class="table table-striped">
	<thead>
		<tr>
			<th><%= __('machine-nombre')%> </th>
            <th><%= __('machine-tipo')%> </th>
			<th><%= __('machine-descripcion')%> </th>
			<th><%= __('machine-referencia')%> </th>
			<th><%= __('machine-editar')%> </th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat='machine in machines | filter:searchText'>
			<td ng-bind='machine.name' data-title="Nombre"></td>
            <td ng-bind='machine.machine_type' data-title="Tipo"></td>
			<td ng-bind='machine.description' data-title="Descripcion"></td>
			<td ng-bind='machine.internalReference' data-title="Referencia Interna"></td>
			<td data-title="Editar"><a ng-href='/machine/edit/{{machine.id}}' ><span class="table-icon fa fa-edit"></span></a></td>
		</tr>
	</tbody>
</table>