<div>
    <div class="row-fluid">
        <div class="col-md-12">
            <div class="buttons-box">
                <!-- Single button -->
                <div class="btn-group">
                    <button type="button" class="btn btn-default button-orange dropdown-toggle" data-toggle="dropdown">
                        <span class="table-icon fa fa-filter"></span> FILTROS <span class="fa fa-caret-down"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                    </ul>
                </div>
                <!---->
                <a class="btn btn-default button-orange" href="/saleOrder/configure">Configurar</a>
            </div>
          
          <div class="widgetcontent custom-table nopadding">
                    <table class="table table-striped">
                        <tr>
                            <th>Fecha creacion</th>
                            <th>Fecha entrega</th>
                            <th>Estado</th>
                            <th>Cliente</th>
                            <th>Proyecto</th>
                            <th>Editar</th>
                        </tr>
                        <% for(var i=0;i<orders.length;i++){
                            var order = orders[i]
                        %>
                        <tr>
                            <td data-title="Fecha creacion"><%= moment(order.createdAt).format('Do [de] MMMM YYYY, h:mm:ss a') %></td>
                            <td data-title="Fecha entrega"><%= moment(order.createdAt).format('Do [de] MMMM YYYY, h:mm:ss a') %></td>
                            <td data-title="Estado"><%= order.status %></td>
                            <td data-title="Cliente"><%= order.quote.client.name %></td>
                            <td data-title="Proyecto"><%= order.quote.name %></td>
                            <td data-title="Editar"><a href="/saleOrder/edit/<%= order.id %>"><span class="table-icon fa fa-edit"></span></a></td>
                        </tr>
                        <% } %>
                    </table>
            </div>

        </div>
    </div>
</div>
