<div class="span4 profile-left userEdit" ng-controller='userEditCTL'>
	<div class="alert alert-block unseen">
		<button data-dismiss="alert" class="close" type="button">×</button>
		<h4>Mensaje</h4>
			<p style="margin: 8px 0">El usuario se ha actualizado exitosamente</p>
		</div>
        <div class="widgetbox profile-photo">
        <div class="headtitle">
            <div class="btn-group">
                <button data-toggle="dropdown" class="btn dropdown-toggle">Opciones <span class="caret"></span></button>
                <ul class="dropdown-menu">
                  <li><a href="#" class="change-icon-button">Cambiar Icono</a></li>
                  <li><a class="confirmbutton" href="/users/users/destroy_icon/12">Quitar Icono</a></li> 
                </ul>
            </div>            
            <h4 class="widgettitle">Icono</h4>
        </div>
        <div class="widgetcontent">
            <div class="profilethumb" style="background:none">
                <img src="/uploads/users/<%= user.icon %>" alt="<%= user.name %>">
                <form action="/users/editAjax" method="post" accept-charset="utf-8" enctype="multipart/form-data" class='hidden' id="change-icon">

                    <hr>
                    <span class="field">
                        <span class="fileupload fileupload-new" data-provides="fileupload">
                            <span class="input-append">
                                <span class="uneditable-input span2">
                                    <i class="iconfa-file fileupload-exists"></i>
                                    <span class="fileupload-preview"></span>
                                </span>
                                <span class="btn btn-file">
                                    <span class="fileupload-new">Archivo</span>
                                    <span class="fileupload-exists">Cambia</span>
                                    <input type="file" name="icon_input">
                                </span>
                                <a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Remove</a>
                            </span>
                        </span>
                    </span>
                    <button type="submit" class="btn btn-primary">Actualizar Icono</button>
		    <input type="hidden" name="userId" value='<%= user.id %>' />
		    <input type="hidden" name="method" value='icon' />
                </form>
            </div><!--profilethumb-->
        </div>
    </div>
        
        
    <div class="widgetbox tags">
            <h4 class="widgettitle">Aplicaciones</h4>
            <div class="widgetcontent">
                <ul class="taglist">
                    <%if(select_company) { 
		    	var appsUser = user.apps;
			for(var i=0;i<appsUser.length;i++){ %>
				<li><a href="<%=appsUser[i].ctl%>"><%=appsUser[i].name%> <span class="close">×</span></a></li>
				
			
			<% }
		     } %>
                </ul>
                <form id="addApps" action="/users/users/add_app" method="post">
                    <p>
                        <select name="app_input" class='chzn-select'>
				<% for(var i=0;i<apps.length;i++){ %>
					<%= apps %>
					<option value="<%=apps[i].controller %>"><%= apps[i].name %></option>
					
				<% } %>                        
			</select>
                        <button type="submit" class="btn btn-primary">Agregar Aplicacion</button>
                    </p>
                </form>
            </div>
    </div>
        
        
  
        
</div>
<div class="span8">
    <form action="/users/editAjax" class="editprofileform" method="post">
        
        <div class="widgetbox personal-information">
            <h4 class="widgettitle">Información de la Empresa</h4>
            <div class="widgetcontent">
                <p><label for="name">Nombre:</label>
                <span class="field"><input type="text" name="name" class="input-xlarge" value="<%= user.name %>"></span></p> 

                <p><label for="last_name">Apellido</label>
                <span class="field"><input type="text" name="last_name" class="input-xlarge" value="<%= user.last_name %>"></span></p>
            
                <p><label for="email">Email</label>
                <span class="field"><input type="text" name="email" class="input-xlarge" value="<%=user.email %>"></span></p>
                
                <p><label for="phone">Telefono</label>
                <span class="field"><input type="text" name="phone" class="input-xlarge" value="<%= user.phone %>"></span></p>
                
            </div>
        </div>
        

        <p>
		<%var active = {
			1:[0,'Desactivar']
			, 0:[1,'Activar']
		} %>
        	<button type="submit" class="btn btn-primary">Actualizar Usuario</button> &nbsp; <a class="confirmbutton" href="<%=active[user.active][0]%>"><%=active[user.active][1]%></a>
        </p>
        <input type="hidden" name='method' value='info' />
	<input type="hidden" name="userId" value='<%= user.id %>' />
    </form>
</div>
