<script type='text/javascript'>
    window.room = <%- JSON.stringify(room) %>;
    window.seasons = <%- JSON.stringify(seasons) %>;
    window._content = <%- JSON.stringify(_content)    %>;
    window.userID = <%- JSON.stringify(req.user.id) %>;
</script>
<div ng-controller='roomEditCTL'>
    <div class='row-fluid'>
        <div class="span4 profile-left profileEdit">
        	<div class="alert alert-block unseen">
        		<button data-dismiss="alert" class="close" type="button">×</button>
        		<h4>Mensaje</h4>
        			<p style="margin: 8px 0">El cuarto se ha actualizado exitosamente</p>
        	</div>
            
            <div profile-image object='room' update-method='/room/updateIcon' delete-method='/room/destroyIcon' image-attr='icon' dir='rooms'></div>

            <div class="widgetbox" ng-show='room.seasonal'>
                <div class="headtitle">          
                    <h4 class="widgettitle">Tarifas<span ng-click='save()'  class='fa icon' ng-class='saveClass'></span></h4>
                </div>
                <div class="widgetcontent">
                    <%-partial('forms/fees')%>
                </div>
            </div>      
        </div>
        <div class="span8">        
            <div class="widgetbox personal-information">
                <h4 class="widgettitle">Información Basica <span ng-click='save()'  class='fa icon' ng-class='saveClass'></span></h4>
                <div angular-form fields='basicFields'></div>        
            </div>
                
            <div>
            </div>
        </div>
    </div>
</div>