<script type='text/javascript'>
    window.room = <%- JSON.stringify(room) %>;
    window.hotel = <%- JSON.stringify(hotel) %>;
    window.scheme = <%- JSON.stringify(scheme) %>;
    window.views = <%- JSON.stringify(views) %>;
    window.userID = <%- JSON.stringify(req.user.id) %>;
</script>
<div ng-controller='roomEditCTL'>
    <div class='row-fluid'>
        <div class="span5 profile-left profileEdit">        	       
            <div profile-image
                object='room' 
                update-method='/room/updateIcon' 
                delete-method='/room/destroyIcon' 
                image-attr='icon' 
                dir='rooms'>
            </div>
            <div class='fee-selector' ng-if="seasonFields.length>0">
                <div class="tabs">
                    <a class='btn tab alertboxbutton' ng-class="payScheme=='base'?'selected':''" ng-click='payScheme = "base"' ><small><%= __('room-base')%></small></a>
                    <a class='btn tab alertboxbutton' ng-class="payScheme==scheme.id?'selected':''" ng-repeat='scheme in hotel.foodSchemes' ng-click='selectScheme(scheme)'>
                        <small ng-bind='scheme.name' ></small>
                    </a>                    
                </div>
                <div form-helper 
                    fields='seasonFields' 
                    object='room.fees.base' 
                    form-save='saveFees' 
                    form-title='<%= __('room-tarifa-t')%>'
                    currency='company.base_currency'
                    ng-show='payScheme == "base"'
                    process-fields = 'false'
                    ></div>
                <div form-helper 
                    ng-repeat='scheme in hotel.foodSchemes'
                    fields='seasonFields' 
                    object='room.fees[scheme.id]' 
                    form-save='saveFees' 
                    form-title='<%= __('room-tarifa-t')%>{{scheme.name}}'
                    currency='company.base_currency'
                    ng-show='payScheme == scheme.id'
                    process-fields = 'false'
                    ></div>                     
            </div>
        </div>
        <div class="span7">
            <div form-helper 
                fields='content.room' 
                object='room' 
                action='/room/save' 
                form-title='<%= __('room-info')%>'
                currency='company.base_currency'
                objects='{views:views}'
                >
            </div>
        </div>
    </div>
    <div class='row-fluid'>
        <div class='span12'>
            <div file-manager object='room' add-method='/room/addFiles' remove-method='/room/removeFiles' dir='rooms/gallery' ></div>
        </div>
    </div>
    <div class='row-fluid'>
        <div class='span12'>
           <div form-helper 
                fields='content.roomDesc' 
                object='room' 
                action='/room/save' 
                form-title='Contenido'
                objects='objects'
                >
            </div> 
        </div>
    </div>
    <br/>
    <div delete-button url='/airport' redirect-url='/airport' object='airport' user='user'></div>
    <br/>
</div>