<script type='text/javascript'>
	window.prices = <%- JSON.stringify(prices) %>;
	window.services = <%- JSON.stringify(services) %>;
	window.airports = <%- JSON.stringify(airports) %>;
	window.zones = <%- JSON.stringify(zones) %>;
	window.companies_ = <%- JSON.stringify(companies_) %>;
	window.content = <%- JSON.stringify(_content) %>;
	//console.log(prices);
	//console.log(mycompany);
	//console.log(myservice);
	//console.log(myairport);
</script>
<div ng-controller="priceCTL" >
	<p><button class="btn btn-primary" data-toggle="modal" data-target="#myModal">Nuevo Precio</button></p>
	<br/>
	<div class='row-fluid'>
		<div class='span4'>
			Compañía:<select ng-change='updatePrices()' ng-model='mycompany' ng-options="obj as obj.name for obj in companies" ></select>
		</div>
		<div class='span4'>
			Servicio:<select ng-change='updatePrices()' ng-model='myservice' ng-options="obj as obj.name for obj in services" ></select>
		</div>
		<div class='span4'>
			Aeropuertos:<select ng-change='updatePrices()' ng-model='myairport' ng-options="obj as obj.name for obj in airports" ></select>
		</div>
	</div>
	<!--<p>Zonas:<select ng-model='myzone' ng-options="obj.id as obj.name for obj in zones" ></select></p>-->
	<br/>
	<table class='table table-striped responsive'>
		<thead>
			<tr>
				<th>Ciudad</th><th>Zona</th><th>Sencillo</th><th>Redondo</th><th>Activo</th>
			</tr>
		</thead>
		<tbody ng-repeat='price in prices' >
			<tr>
				<td>{{airports[0].location.name}}</td>
				<td>{{price.zone.name}}</td>
				<td>{{price.one_way_fee}}</td>
				<td>{{price.round_trip_fee}}</td>
				<td>{{price.active}}</td>
			</tr>
		</tbody>
	</table>
	<div class="clearfix"></div>
	<div class="modal fade" id="myModal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div 
					form-helper 
			        fields='content.price' 
			        form-footer='Agregar'
			        form-save = 'createPrice'
			        object = 'price'
			        objects = '{zones:zones , services:services , airports:airports , companies : companies}'
			        form-title='Agregar Precio'
			       	modal='true'
			        >
			    </div>
			</div>
		</div>
	</div>
</div>